<div class="support-footer__area">
    <div class="row g-0">
        <div class="col-lg-12">
            <!-- google map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15221.494351039075!2d78.444012!3d17.489671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91cf7d34f6af%3A0xc1e14764d268f7dd!2sHyderabad%20Bottling!5e0!3m2!1sen!2sin!4v1675506054648!5m2!1sen!2sin" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6">
            <div class="support-footer__single bg-img" data-bg="assets/img/icons/message.png">
                Email: tractor@thememove.com
            </div>
        </div>
        <div class="col-md-6">
            <div class="support-footer__single support-footer__single--dark bg-img" data-bg="assets/img/icons/support.png">
                Support: +91 9866177042
            </div>
        </div>
    </div>
</div>
<!--====================  End of support footer area  ====================-->
<!--====================  footer area ====================-->
<div class="footer-area section-space--inner--top--120 dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-content-wrapper">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <!-- footer intro wrapper -->
                            <div class="footer-intro-wrapper">
                                <div class="footer-logo">
                                    <a href="#">
                                        <img src="assets/img/logo/footerlogo.svg" class="" width="300px" alt="">
                                    </a>
                                </div>
                                <div class="footer-desc">
                                    Plot No: 2. Shop No-3.CLE Gandhi Nagar, Opp: Siemens Jagadgirigutta Road, Post: IDPL Colony Ranga Reddy District, Hyderabad 500057. Mobile : 09866177042 Works No: 040-65557042
                                </div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="http://facebook.com/" data-tippy="Facebook" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="http://twitter.com/" data-tippy="Twitter" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="http://vimeo.com/" data-tippy="Vimeo" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-vimeo"></i></a></li>
                                        <li><a href="http://linkedin.com/" data-tippy="Linkedin" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-linkedin"></i></a></li>
                                        <li><a href="http://skype.com/" data-tippy="Skype" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <!-- footer widget 
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">USEFUL LINKS</h4>
                                <ul class="footer-widget__navigation">
                                    <li><a href="#">Track</a></li>
                                    <li><a href="#">Logistics</a></li>
                                    <li><a href="#">Global Agents</a></li>
                                    <li><a href="#">Network</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">-->
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">COMPANY</h4>
                                <ul class="footer-widget__navigation">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Clients</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">PRODUCTS</h4>
                                <ul class="footer-widget__navigation">
                                    <li><a href="#">Rinsing Machines</a></li>
                                    <li><a href="#">Filling Machines</a></li>
                                    <li><a href="#">Sealing Machines</a></li>
                                    <li><a href="#">Labeling Machines</a></li>
                                    <li><a href="#">Conveyor Belts</a></li>
                                    <li><a href="#">Spares and Others</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copyright-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright-left">
                                &copy; <script>document.write(new Date().getFullYear() + ' ');</script> Developed by Gobinath ( +91 7695837828 )
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-copyright-right">
                                <ul class="footer-copyright-right__navigation">
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 <!--====================  mobile menu overlay ====================-->

<div class="mobile-menu-overlay" id="mobile-menu-overlay">
    <div class="mobile-menu-overlay__header">
        <div class="container-fluid--cp-60">
            <div class="row align-items-center">
                <div class="col-md-4 col-sm-6 col-9">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/img/logo/logo hbe.svg" class="comp-logo" style="width: 200px;" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-3">
                    <!-- mobile menu content -->
                    <div class="mobile-menu-content">
                        <a class="mobile-navigation-close-icon" id="mobile-menu-close-trigger" href="javascript:void(0)">
                            <i class="ion-ios-close-empty"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu-overlay__body">
        <nav class="offcanvas-navigation">
            <ul>
                <li class="has-children">
                    <a href="#">HOME</a>
                    
                </li>
                <li class="has-children">
                    <a href="#">ABOUT US</a>
                   
                </li>
                <li class="has-children">
                    <a href="#">CLIENTS</a>
                    
                </li>

                <li class="has-children">
                    <a href="#">PRODUCTS</a>
                    
                </li>

                <li class="has-children">
                    <a href="#">CONTACT US</a>
                   
                </li>
                
                
            </ul>
        </nav>
    </div>
</div>