<div class="support-footer__area">
    <div class="row g-0">
        <div class="col-lg-12">
            <!-- google map -->
            <div class="google-map google-map--style-2" id="google-map-one" data-width="100%" data-zoom_enable="" data-zoom="10" data-map_type="roadmap"></div>
        </div>
        <div class="col-md-6">
            <div class="support-footer__single bg-img" data-bg="assets/img/icons/message.png">
                Email: tractor@thememove.com
            </div>
        </div>
        <div class="col-md-6">
            <div class="support-footer__single support-footer__single--dark bg-img" data-bg="assets/img/icons/support.png">
                Support: +91 9866177042
            </div>
        </div>
    </div>
</div>
<!--====================  End of support footer area  ====================-->
<!--====================  footer area ====================-->
<div class="footer-area section-space--inner--top--120 dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-content-wrapper">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <!-- footer intro wrapper -->
                            <div class="footer-intro-wrapper">
                                <div class="footer-logo">
                                    <a href="#">
                                        <img src="assets/img/logo/footerlogo.svg" class="" width="300px" alt="">
                                    </a>
                                </div>
                                <div class="footer-desc">
                                    Tractor is a premium HTML template embracing predominant features, outstanding
                                    pre-designed demos, custom page layouts, and responsive pages.
                                </div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="http://facebook.com/" data-tippy="Facebook" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="http://twitter.com/" data-tippy="Twitter" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="http://vimeo.com/" data-tippy="Vimeo" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-vimeo"></i></a></li>
                                        <li><a href="http://linkedin.com/" data-tippy="Linkedin" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-linkedin"></i></a></li>
                                        <li><a href="http://skype.com/" data-tippy="Skype" data-tippy-inertia="false" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder__black" data-tippy-placement="top"><i class="ion-social-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">USEFUL LINKS</h4>
                                <ul class="footer-widget__navigation">
                                    <li><a href="#">Track</a></li>
                                    <li><a href="#">Logistics</a></li>
                                    <li><a href="#">Global Agents</a></li>
                                    <li><a href="#">Network</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">COMPANY</h4>
                                <ul class="footer-widget__navigation">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Expertise</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">News & Media</a></li>
                                    <li><a href="#">Case Studies</a></li>
                                    <li><a href="#">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">INDUSTRIES</h4>
                                <ul class="footer-widget__navigation">
                                    <li><a href="#">Electronic Materials</a></li>
                                    <li><a href="#">Gifts & Apparel</a></li>
                                    <li><a href="#">Auto Parts</a></li>
                                    <li><a href="#">Power Systems</a></li>
                                    <li><a href="#">Building Management</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copyright-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright-left">
                                &copy; <script>document.write(new Date().getFullYear() + ' ');</script> Industrial Template by HasThemes
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-copyright-right">
                                <ul class="footer-copyright-right__navigation">
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 <!--====================  mobile menu overlay ====================-->

<div class="mobile-menu-overlay" id="mobile-menu-overlay">
    <div class="mobile-menu-overlay__header">
        <div class="container-fluid--cp-60">
            <div class="row align-items-center">
                <div class="col-md-4 col-sm-6 col-9">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/img/logo/logo hbe.svg" class="comp-logo" style="width: 200px;" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-3">
                    <!-- mobile menu content -->
                    <div class="mobile-menu-content">
                        <a class="mobile-navigation-close-icon" id="mobile-menu-close-trigger" href="javascript:void(0)">
                            <i class="ion-ios-close-empty"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu-overlay__body">
        <nav class="offcanvas-navigation">
            <ul>
                <li class="has-children">
                    <a href="#">Home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Main Homepage</a></li>
                        <li><a href="index-2.html">Essential 1 Homepage</a></li>
                        <li><a href="index-3.html">Simple Homepage</a></li>
                        <li><a href="index-4.html">Header Left Homepage</a></li>
                        <li><a href="index-5.html">Homepage 11</a></li>
                        <li><a href="index-6.html">Classic Homepage</a></li>
                        <li><a href="index-7.html">Essential 2 Homepage</a></li>
                        <li><a href="index-8.html">Multi Card Homepage</a></li>
                        <li><a href="index-9.html">Modern Homepage</a></li>
                        <li><a href="index-10.html">Bold & Strong Homepage</a></li>
                        <li><a href="index-11.html">Box Homepage</a></li>
                        <li><a href="index-12.html">Home Demo 12</a></li>
                        <li><a href="index-13.html">Home Demo 13</a></li>
                        <li><a href="index-14.html">Home Demo 14</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="has-children">
                            <a href="#">Page list 01</a>
                            <ul class="sub-menu">
                                <li><a href="page-about.html">About 01</a></li>
                                <li><a href="page-about-2.html">About 02</a></li>
                                <li><a href="page-contact.html">Contact Us 01</a></li>
                                <li><a href="page-contact-2.html">Contact Us 02</a></li>
                                <li><a href="404.html">Not Found</a></li>
                                <li><a href="site-maintenance.html">Under Construction</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Page list 02</a>
                            <ul class="sub-menu">
                                <li><a href="page-history.html">History</a></li>
                                <li><a href="page-leadership.html">Leadership</a></li>
                                <li><a href="page-partner.html">Partners & Clients</a></li>
                                <li><a href="page-faq.html">FAQ's</a></li>
                                <li><a href="page-award.html">Award & Recognition</a></li>
                                <li><a href="page-career.html">Career</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Page list 03</a>
                            <ul class="sub-menu">
                                <li><a href="icon-flat.html">Icon Flat</a></li>
                                <li><a href="icon-tractor.html">Icon Tractor</a></li>
                                <li><a href="icon-icomoon.html">Icon Icomoon</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">Industries</a>
                    <ul class="sub-menu">
                        <li class="has-children">
                            <a href="#">Grid</a>
                            <ul class="sub-menu">
                                <li><a href="industries-grid.html">Industries Grid 1</a></li>
                                <li><a href="industries-grid-2.html">Industries Grid 2</a></li>
                                <li><a href="industries-grid-3.html">Industries Grid 3</a></li>
                                <li><a href="industries-grid-4.html">Industries Grid 4</a></li>
                                <li><a href="industries-grid-5.html">Industries Grid 5</a></li>
                                <li><a href="industries-grid-6.html">Industries Grid 6</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Carousel</a>
                            <ul class="sub-menu">
                                <li><a href="industries-carousel.html">Industries Carousel 1</a></li>
                                <li><a href="industries-carousel-2.html">Industries Carousel 2</a></li>
                                <li><a href="industries-carousel-3.html">Industries Carousel 3</a></li>
                                <li><a href="industries-carousel-4.html">Industries Carousel 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">Case Studies</a>
                    <ul class="sub-menu">
                        <li><a href="case-studies-grid-caption.html">Case Studies Grid Caption 01</a></li>
                        <li><a href="case-studies-grid-caption-2.html">Case Studies Grid Caption 02</a></li>
                        <li><a href="case-studies-grid.html">Case Studies Grid</a></li>
                        <li><a href="case-study-single-slider.html">Single Case Study Slider</a></li>
                        <li><a href="case-study-single-gallery.html">Single Case Study Gallery</a></li>
                        <li class="has-children">
                            <a href="#">Submenu Level One</a>
                            <ul class="sub-menu">
                                <li class="has-children">
                                    <a href="#">Submenu Level Two</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Submenu Level Three</a></li>
                                        <li><a href="#">Submenu Level Three</a></li>
                                        <li><a href="#">Submenu Level Three</a></li>
                                        <li><a href="#">Submenu Level Three</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Submenu Level Two</a></li>
                                <li><a href="#">Submenu Level Two</a></li>
                                <li><a href="#">Submenu Level Two</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Submenu Level One</a>
                            <ul class="sub-menu">
                                <li class="has-children">
                                    <a href="#">Submenu Level Two</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Submenu Level Three</a></li>
                                        <li><a href="#">Submenu Level Three</a></li>
                                        <li><a href="#">Submenu Level Three</a></li>
                                        <li><a href="#">Submenu Level Three</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Submenu Level Two</a></li>
                                <li><a href="#">Submenu Level Two</a></li>
                                <li><a href="#">Submenu Level Two</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">Blog</a>
                    <ul class="sub-menu">
                        <li class="has-children">
                            <a href="#">Blog layouts 01</a>
                            <ul class="sub-menu">
                                <li><a href="blog-list.html">Blog List</a></li>
                                <li><a href="blog-metro.html">Blog Metro</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Blog layouts 02</a>
                            <ul class="sub-menu">
                                <li><a href="blog-grid-classic.html">Blog Grid Classic 1</a></li>
                                <li><a href="blog-grid-classic-2.html">Blog Grid Classic 2</a></li>
                                <li><a href="blog-grid-classic-3.html">Blog Grid Classic 3</a></li>
                                <li><a href="blog-grid-classic-4.html">Blog Grid Classic 4</a></li>
                                <li><a href="blog-grid-classic-5.html">Blog Grid Classic 5</a></li>
                                <li><a href="blog-grid-simple.html">Blog Grid Simple</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Blog layouts 03</a>
                            <ul class="sub-menu">
                                <li><a href="blog-carousel.html">Blog Carousel</a></li>
                                <li><a href="blog-carousel-2.html">Blog Carousel 2</a></li>
                                <li><a href="blog-carousel-3.html">Blog Carousel 3</a></li>
                                <li><a href="blog-carousel-4.html">Blog Carousel 4</a></li>
                                <li><a href="blog-carousel-5.html">Blog Carousel 5</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Single Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-post-image.html">Image format</a></li>
                                <li><a href="blog-post-gallery.html">Gallery format</a></li>
                                <li><a href="blog-post-video.html">Video format</a></li>
                                <li><a href="blog-post-audio.html">Audio format</a></li>
                                <li><a href="blog-post-link.html">Link format</a></li>
                                <li><a href="blog-post-quote.html">Quote format</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="javascript:void(0)">Shop</a>
                    <ul class="sub-menu">
                        <li><a href="shop.html">Shop Page</a></li>
                        <li><a href="shop-product.html">Single Product</a></li>
                        <li><a href="shop-cart.html">Cart</a></li>
                        <li><a href="shop-wishlist.html">Wishlist</a></li>
                        <li><a href="shop-checkout.html">Checkout</a></li>
                        <li><a href="shop-my-account.html">My Account</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>