<!DOCTYPE html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/megan/megan/page-about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 02:56:36 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Megan - Industrial & Manufacturing Businesses HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/img/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">

    <!-- Ionicons CSS -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">

    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/flaticon.min.css">

    <!-- Icomoon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/icomoon.min.css">

    <!-- Tractor icon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/tractor-icon.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">

    <!-- Light gallery CSS -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">



    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">











    <!-- Revolution Slider CSS -->
    <link href="assets/revolution/css/settings.css" rel="stylesheet">
    <link href="assets/revolution/css/navigation.css" rel="stylesheet">
    <link href="assets/revolution/custom-setting.css" rel="stylesheet">


</head>

<body>
    <!--====================  preloader ====================-->
    <%- include("partials/_header.ejs")%>
    <!--====================  End of header area  ====================-->

    <!--====================  page content wrapper ====================-->
    <div class="page-content-wrapper">
        <!--====================  about revslider ====================-->
        <div class="about-revslider">
            <div id="rev_slider_14_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="about-01" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.4.7 fullwidth mode -->
                <div id="rev_slider_14_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-32" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="assets/img/slider/about/bott.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption   tp-resizeme" id="slide-32-layer-1" data-x="['left','left','left','left']" data-hoffset="['371','75','75','52']" data-y="['top','top','top','top']" data-voffset="['240','262','272','198']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="assets/img/slider/about/about-slide-layer1.png" alt="" data-ww="['88px','88px','88px','88px']" data-hh="['88px','88px','88px','88px']" data-no-retina> </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption   tp-resizeme" id="slide-32-layer-2" data-x="['left','left','left','left']" data-hoffset="['371','75','75','52']" data-y="['top','top','top','top']" data-voffset="['361','383','403','325']" data-fontsize="['50','50','35','35']" data-lineheight="['64','64','45','45']" data-width="['881','881','600','400']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; min-width: 881px; max-width: 881px; white-space: normal; font-size: 50px; line-height: 64px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">We are a team of strategists,
                                designers, architects, and engineers. </div>

                            <!-- LAYER NR. 3 -->
                            <a class="tp-caption TM-Button-flat-01 rev-btn " href="page-contact.html" target="_self" id="slide-32-layer-3" data-x="['left','left','left','left']" data-hoffset="['371','75','75','52']" data-y="['top','top','top','top']" data-voffset="['519','541','531','546']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(34,34,34);bg:rgb(255,255,255);bs:solid;bw:0 0 0 0;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[17,17,17,17]" data-paddingright="[30,30,30,30]" data-paddingbottom="[17,17,17,17]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: nowrap; letter-spacing: 0.5px;text-transform:uppercase;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;text-decoration: none;">Get a quote </a>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
        </div>
        <!--====================  End of about revslider  ====================-->
        <!--====================  about text content ====================-->
        <div class="about-text-area section-space--inner--top--100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-text-wrapper">
                            <p>Tractor Inc. was founded in 1890 in St. Rosemary, California, as a manufacturing company of chemicals and constructional materials. Over the past 55 years, we have grown from a small-sized local company into a global technological corporate.</p>
                            <p class="mb-3 mb-md-0">Tractor’s manufacturing capabilities are called upon by the U.S. Commercial Department in 1990. During the next seven years, the company had produced more than 10 million tons of constructional chemicals and materials.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-text-wrapper">
                            <p>Much of Tractor’s spectacular growth in the last 20 years resulted from the booming population and the increasing needs for a place to live of the citizens. We have the determination to assist our people with the best facilities.</p>
                            <a href="#" class="see-more-link see-more-link--dark see-more-link--dark--style2">BUTTON TEXT <i class="ion-arrow-right-c"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of about text content  ====================-->
        <!--====================  project counter area ====================-->
        <div class="project-counter-area section-space--inner--100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="project-counter-single-content-wrapper">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6">
                                    <!-- project counter single content -->
                                    <div class="project-counter-single-content project-counter-single-content--style2">
                                        <div class="project-counter-single-content__image">
                                            <img src="assets/img/icons/oil-dark.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="project-counter-single-content__content">
                                            <span class="project-counter-single-content__project-count counter">2000</span>
                                            <h5 class="project-counter-single-content__project-title">Nationwide Branches</h5>
                                            <p class="project-counter-single-content__subtext">With a countrywide network of power plants, we've doing our best to power our community.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <!-- project counter single content -->
                                    <div class="project-counter-single-content project-counter-single-content--style2">
                                        <div class="project-counter-single-content__image">
                                            <img src="assets/img/icons/home-dark.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="project-counter-single-content__content">
                                            <span class="project-counter-single-content__project-count counter">3000</span>
                                            <h5 class="project-counter-single-content__project-title">Completed Projects</h5>
                                            <p class="project-counter-single-content__subtext">We have always been proud of what we have accomplished influential changes.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <!-- project counter single content -->
                                    <div class="project-counter-single-content project-counter-single-content--style2">
                                        <div class="project-counter-single-content__image">
                                            <img src="assets/img/icons/tree-dark.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="project-counter-single-content__content">
                                            <span class="project-counter-single-content__project-count counter">543</span>
                                            <h5 class="project-counter-single-content__project-title">Trees Planted</h5>
                                            <p class="project-counter-single-content__subtext">We have always been proud of what we have accomplished influential changes.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <!-- project counter single content -->
                                    <div class="project-counter-single-content project-counter-single-content--style2">
                                        <div class="project-counter-single-content__image">
                                            <img src="assets/img/icons/reuse-dark.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="project-counter-single-content__content">
                                            <span class="project-counter-single-content__project-count counter">4600</span>
                                            <h5 class="project-counter-single-content__project-title">Business Retails</h5>
                                            <p class="project-counter-single-content__subtext">We have always been proud of what we have accomplished influential changes.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of project counter area  ====================-->
        <!--====================  progress bar area ====================-->
        <div class="progress-bar-area grey-bg position-relative">
            <div class="half-bg-image bg-img" data-bg="assets/img/backgrounds/machines.jpg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="progress-bar-content section-space--inner--120">
                            <div class="career-title-area section-space--bottom--50">
                                <h2 class="title">Show The Skills</h2>
                                <p class="subtitle">Our industry professionals are able to deliver better ideas and solutions embedded with a deep understanding of each client’ business and industry.</p>
                            </div>
                            <div class="skill-wrapper">
                                <!-- Start Skills Item #1 -->
                                <div class="progress-bar-item">
                                    <div class="progress-info">
                                        <span class="progress-info__title">Vision</span>
                                        <span class="progress-info__percent percent"></span>
                                    </div>

                                    <div class="progress-line">
                                        <div class="progress-line-bar" data-percent="98%"></div>
                                        <span class="progress-line-dot"></span>
                                    </div>
                                </div>

                                <!-- Start Skills Item #2 -->
                                <div class="progress-bar-item">
                                    <div class="progress-info">
                                        <span class="progress-info__title">Plan</span>
                                        <span class="progress-info__percent percent"></span>
                                    </div>

                                    <div class="progress-line">
                                        <div class="progress-line-bar" data-percent="90%"></div>
                                        <span class="progress-line-dot"></span>
                                    </div>
                                </div>

                                <!-- Start Skills Item #3 -->
                                <div class="progress-bar-item">
                                    <div class="progress-info">
                                        <span class="progress-info__title">Growth</span>
                                        <span class="progress-info__percent percent"></span>
                                    </div>

                                    <div class="progress-line">
                                        <div class="progress-line-bar" data-percent="60%"></div>
                                        <span class="progress-line-dot"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of progress bar area  ====================-->
        <!--====================  cta area ====================-->
        <div class="cta-area section-space--inner--60 default-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <!-- cta text -->
                        <h2 class="cta-text text-center text-lg-left">Looking for a reliable & stable partner?</h2>
                    </div>
                    <div class="col-lg-4 text-center text-lg-end">
                        <a href="page-contact.html" class="ht-btn ht-btn--transparent ht-btn--transparent--alt-dark">GET A QUOTE</a>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of cta area  ====================-->
        <!--====================  team member slider area ====================-->
        <div class="team-member-slider-area section-space--inner--top--100 section-space--inner--bottom--50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="career-title-area text-center section-space--bottom--50">
                            <h2 class="title">Meet The Team</h2>
                            <p class="subtitle">Professional ethics govern the values of social responsibility that help us deliver our obligations within a coherent social framework.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="team-slider">
                            <div class="swiper-container team-slider__container">
                                <div class="swiper-wrapper team-slider__wrapper">
                                    <div class="swiper-slide">
                                        <div class="team-slider__single">
                                            <div class="image">
                                                <img src="assets/img/team/2.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="identity-wrapper has-border-left">
                                                    <h3 class="name">Donald Simpson</h3>
                                                    <span class="designation">Customer Relations</span>
                                                </div>
                                                <div class="social-links social-links--white-topbar d-inline-block">
                                                    <ul>
                                                        <li><a href="http://facebook.com/"><i class="ion-social-facebook"></i></a></li>
                                                        <li><a href="http://twitter.com/"><i class="ion-social-twitter"></i></a></li>
                                                        <li><a href="http://linkedin.com/"><i class="ion-social-linkedin"></i></a></li>
                                                        <li><a href="http://skype.com/"><i class="ion-social-skype"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-slider__single">
                                            <div class="image">
                                                <img src="assets/img/team/3.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="identity-wrapper has-border-left">
                                                    <h3 class="name">Ethan Thomas</h3>
                                                    <span class="designation">Customer Relations</span>
                                                </div>
                                                <div class="social-links social-links--white-topbar d-inline-block">
                                                    <ul>
                                                        <li><a href="http://facebook.com/"><i class="ion-social-facebook"></i></a></li>
                                                        <li><a href="http://twitter.com/"><i class="ion-social-twitter"></i></a></li>
                                                        <li><a href="http://linkedin.com/"><i class="ion-social-linkedin"></i></a></li>
                                                        <li><a href="http://skype.com/"><i class="ion-social-skype"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-slider__single">
                                            <div class="image">
                                                <img src="assets/img/team/4.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="identity-wrapper has-border-left">
                                                    <h3 class="name">Luna Lovegood</h3>
                                                    <span class="designation">Customer Relations</span>
                                                </div>
                                                <div class="social-links social-links--white-topbar d-inline-block">
                                                    <ul>
                                                        <li><a href="http://facebook.com/"><i class="ion-social-facebook"></i></a></li>
                                                        <li><a href="http://twitter.com/"><i class="ion-social-twitter"></i></a></li>
                                                        <li><a href="http://linkedin.com/"><i class="ion-social-linkedin"></i></a></li>
                                                        <li><a href="http://skype.com/"><i class="ion-social-skype"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-slider__single">
                                            <div class="image">
                                                <img src="assets/img/team/5.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="identity-wrapper has-border-left">
                                                    <h3 class="name">Morris Gruana</h3>
                                                    <span class="designation">Customer Relations</span>
                                                </div>
                                                <div class="social-links social-links--white-topbar d-inline-block">
                                                    <ul>
                                                        <li><a href="http://facebook.com/"><i class="ion-social-facebook"></i></a></li>
                                                        <li><a href="http://twitter.com/"><i class="ion-social-twitter"></i></a></li>
                                                        <li><a href="http://linkedin.com/"><i class="ion-social-linkedin"></i></a></li>
                                                        <li><a href="http://skype.com/"><i class="ion-social-skype"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-slider__single">
                                            <div class="image">
                                                <img src="assets/img/team/6.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="identity-wrapper has-border-left">
                                                    <h3 class="name">Jeff Green</h3>
                                                    <span class="designation">Customer Relations</span>
                                                </div>
                                                <div class="social-links social-links--white-topbar d-inline-block">
                                                    <ul>
                                                        <li><a href="http://facebook.com/"><i class="ion-social-facebook"></i></a></li>
                                                        <li><a href="http://twitter.com/"><i class="ion-social-twitter"></i></a></li>
                                                        <li><a href="http://linkedin.com/"><i class="ion-social-linkedin"></i></a></li>
                                                        <li><a href="http://skype.com/"><i class="ion-social-skype"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-slider__single">
                                            <div class="image">
                                                <img src="assets/img/team/1.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="identity-wrapper has-border-left">
                                                    <h3 class="name">Luna Lovegood</h3>
                                                    <span class="designation">Customer Relations</span>
                                                </div>
                                                <div class="social-links social-links--white-topbar d-inline-block">
                                                    <ul>
                                                        <li><a href="http://facebook.com/"><i class="ion-social-facebook"></i></a></li>
                                                        <li><a href="http://twitter.com/"><i class="ion-social-twitter"></i></a></li>
                                                        <li><a href="http://linkedin.com/"><i class="ion-social-linkedin"></i></a></li>
                                                        <li><a href="http://skype.com/"><i class="ion-social-skype"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="ht-swiper-button-prev ht-swiper-button-prev-14 ht-swiper-button-nav"><i class="ion-chevron-left"></i></div>
                            <div class="ht-swiper-button-next ht-swiper-button-next-14 ht-swiper-button-nav"><i class="ion-chevron-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of team member slider area  ====================-->
        <!--====================  about content row ====================-->
        <div class="about-content-row__wrapper grey-bg">
            <div class="row g-0 align-items-center">
                <div class="col-xl-2 col-md-6 order-md-1 order-xl-1">
                    <div class="about-content-row__image bg-img" data-bg="assets/img/backgrounds/22.jpg"></div>
                </div>
                <div class="col-xl-4 col-md-6 order-md-2 order-xl-2">
                    <div class="about-content-row__content">
                        <h2 class="title">Looking for a job apply now</h2>
                        <p class="text">We are an integrated engineering company composed of a group of agile and experienced engineers skilled in different business areas.</p>
                        <a href="#" class="ht-btn ht-btn--transparent ht-btn--transparent--yellow">READ MORE</a>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 order-md-4 order-xl-3">
                    <div class="about-content-row__image bg-img" data-bg="assets/img/backgrounds/23.jpg"></div>
                </div>
                <div class="col-xl-4 col-md-6 order-md-3 order-xl-4">
                    <div class="about-content-row__content">
                        <h2 class="title">Let’s become a business partner</h2>
                        <p class="text">We seek for cooperation in various areas in order to achieve the purpose of diversifying and expanding our company's operating fields.</p>
                        <a href="#" class="ht-btn ht-btn--transparent ht-btn--transparent--yellow">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of about content row  ====================-->


    </div>
    <!--====================  End of page content wrapper  ====================-->

    <!--====================  brand logo slider area ====================-->
    <div class="brand-logo-slider-area section-space--inner--50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- brand logo slider -->
                    <div class="brand-logo-slider__container-area">
                        <div class="swiper-container brand-logo-slider__container">
                            <div class="swiper-wrapper brand-logo-slider__wrapper">
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/1b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/2.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/2b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/3.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/3b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/4.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/4b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/5.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/5b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/6.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/6b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/7.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/7b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/8.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/8b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/9.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/9b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of brand logo slider area  ====================-->
    <!--====================  footer area ====================-->
    <%- include("partials/_footer.ejs")%>
    <!--====================  End of footer area  ====================-->
    <!--====================  mobile menu overlay ====================-->
   
    <!--====================  End of search overlay  ====================-->
    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="ion-android-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->
    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Popper JS -->
    <script src="assets/js/vendor/popper.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Tippy JS -->
    <script src="assets/js/plugins/tippy.min.js"></script>

    <!-- Light gallery JS -->
    <script src="assets/js/plugins/lightgallery.min.js"></script>

    <!-- Light gallery video JS -->
    <script src="assets/js/plugins/lg-video.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counter up JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- Isotope JS -->
    <script src="assets/js/plugins/isotope.min.js"></script>

    <!-- Appear JS -->
    <script src="assets/js/plugins/appear.min.js"></script>

    <!-- Gmap3 JS -->
    <script src="assets/js/plugins/gmap3.min.js"></script>

    <!-- Mailchimp JS -->
    <script src="assets/js/plugins/mailchimp-ajax-submit.min.js"></script>


    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


    <!-- Revolution Slider JS -->
    <script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/revolution/revolution-active.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

</body>


<!-- Mirrored from htmldemo.net/megan/megan/page-about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 02:56:40 GMT -->
</html>