<!DOCTYPE html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/megan/megan/page-partner.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 02:56:50 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Megan - Industrial & Manufacturing Businesses HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/img/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">

    <!-- Ionicons CSS -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">

    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/flaticon.min.css">

    <!-- Icomoon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/icomoon.min.css">

    <!-- Tractor icon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/tractor-icon.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">

    <!-- Light gallery CSS -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">




    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">











</head>

<body>
    <!--====================  preloader ====================-->
    
    <!--====================  End of preloader  ====================-->
    <!--====================  header area ====================-->
   <%- include("partials/_header.ejs")%>
    <!--====================  End of header area  ====================-->
    <!--====================  breadcrumb area ====================-->
    <div class="breadcrumb-area breadcrumb-area-bg section-space--inner--80 bg-img" data-bg="assets/img/backgrounds/19.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h2 class="breadcrumb-page-title">Partners & Clients</h2>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb-page-list text-uppercase">
                        <li class="has-children"><a href="index.html">Home</a></li>
                        <li>Partners & Clients</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of breadcrumb area  ====================-->
    <!--====================  page content wrapper ====================-->
    <div class="page-content-wrapper section-space--inner--120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="common-page-content">
                        <div class="common-page-text-wrapper section-space--bottom--50">
                            <h2 class="common-page-title">Partnerships & Affiliations</h2>
                            <p>Our industry professionals are able to deliver better ideas and solutions embedded with a deep understanding of each client’ business and industry. The industry focus of our experts allows us to offer comprehensive solutions.</p>
                        </div>
                        <div class="brand-logo-grid__wrapper section-space--bottom--50">
                            <div class="row">
                                <div class="col-md-4 col-6">
                                    <div class="brand-logo-grid__single">
                                        <div class="brand-logo-slider__single">
                                            <div class="image">
                                                <img src="assets/img/brand-logo/1.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="image-hover">
                                                <img src="assets/img/brand-logo/1b.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <div class="brand-logo-grid__single">
                                        <div class="brand-logo-slider__single">
                                            <div class="image">
                                                <img src="assets/img/brand-logo/2.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="image-hover">
                                                <img src="assets/img/brand-logo/2b.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <div class="brand-logo-grid__single">
                                        <div class="brand-logo-slider__single">
                                            <div class="image">
                                                <img src="assets/img/brand-logo/3.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="image-hover">
                                                <img src="assets/img/brand-logo/3b.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <div class="brand-logo-grid__single">
                                        <div class="brand-logo-slider__single">
                                            <div class="image">
                                                <img src="assets/img/brand-logo/4.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="image-hover">
                                                <img src="assets/img/brand-logo/4b.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <div class="brand-logo-grid__single">
                                        <div class="brand-logo-slider__single">
                                            <div class="image">
                                                <img src="assets/img/brand-logo/5.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="image-hover">
                                                <img src="assets/img/brand-logo/5b.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <div class="brand-logo-grid__single">
                                        <div class="brand-logo-slider__single">
                                            <div class="image">
                                                <img src="assets/img/brand-logo/6.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="image-hover">
                                                <img src="assets/img/brand-logo/6b.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <div class="brand-logo-grid__single">
                                        <div class="brand-logo-slider__single">
                                            <div class="image">
                                                <img src="assets/img/brand-logo/7.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="image-hover">
                                                <img src="assets/img/brand-logo/7b.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <div class="brand-logo-grid__single">
                                        <div class="brand-logo-slider__single">
                                            <div class="image">
                                                <img src="assets/img/brand-logo/8.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="image-hover">
                                                <img src="assets/img/brand-logo/8b.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6">
                                    <div class="brand-logo-grid__single">
                                        <div class="brand-logo-slider__single">
                                            <div class="image">
                                                <img src="assets/img/brand-logo/9.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="image-hover">
                                                <img src="assets/img/brand-logo/9b.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="common-page-title section-space--bottom--30">Happy Clients Say</h2>

                        <div class="testimonial-single__wrapper">
                            <div class="testimonial-single__item">
                                <div class="testimonial-slider__single-item testimonial-slider__single-item--style2">
                                    <div class="testimonial-slider__single-item__image">
                                        <img src="assets/img/testimonial/1-500x380.jpg" class="img-fluid" alt="">
                                        <div class="quote-icon">
                                            <i class="ion-quote"></i>
                                        </div>
                                    </div>
                                    <div class="testimonial-slider__single-item__content">
                                        <h4 class="testimonial-name"> Fannie Moreno <span class="designation">Founder Xcompany</span></h4>
                                        <p class="text">I would say I highly recommend this to my friends, acquaintances and family members. The attitude and services are always dedicated.</p>
                                        <div class="rating">
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star-outline"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial-single__item">
                                <div class="testimonial-slider__single-item testimonial-slider__single-item--style2">
                                    <div class="testimonial-slider__single-item__image">
                                        <img src="assets/img/testimonial/2-500x380.jpg" class="img-fluid" alt="">
                                        <div class="quote-icon">
                                            <i class="ion-quote"></i>
                                        </div>
                                    </div>
                                    <div class="testimonial-slider__single-item__content">
                                        <h4 class="testimonial-name">David James <span class="designation">Founder Xcompany</span></h4>
                                        <p class="text">I would say I highly recommend this to my friends, acquaintances and family members. The attitude and services are always dedicated.</p>
                                        <div class="rating">
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial-single__item">
                                <div class="testimonial-slider__single-item testimonial-slider__single-item--style2">
                                    <div class="testimonial-slider__single-item__image">
                                        <img src="assets/img/testimonial/3-500x380.jpg" class="img-fluid" alt="">
                                        <div class="quote-icon">
                                            <i class="ion-quote"></i>
                                        </div>
                                    </div>
                                    <div class="testimonial-slider__single-item__content">
                                        <h4 class="testimonial-name"> Bryan Freeman <span class="designation">Founder Xcompany</span></h4>
                                        <p class="text">Their services are among the best to be honest. Making everything simple and easy, even for beginners and novices like me and my wife.</p>
                                        <div class="rating">
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star-outline"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial-single__item">
                                <div class="testimonial-slider__single-item testimonial-slider__single-item--style2">
                                    <div class="testimonial-slider__single-item__image">
                                        <img src="assets/img/testimonial/4-500x380.jpg" class="img-fluid" alt="">
                                        <div class="quote-icon">
                                            <i class="ion-quote"></i>
                                        </div>
                                    </div>
                                    <div class="testimonial-slider__single-item__content">
                                        <h4 class="testimonial-name"> Milanda Moses <span class="designation">Founder Xcompany</span></h4>
                                        <p class="text">Working with @Tractor is like an ever-before experience when people knows what your problem is right when you start to mention it.</p>
                                        <div class="rating">
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star"></i>
                                            <i class="ion-ios-star-outline"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- page sidebar -->
                    <div class="page-sidebar">
                        <!-- single sidebar widget -->
                        <div class="single-sidebar-widget">
                            <div class="sidebar-other-page__wrapper">
                                <a href="page-about.html" class="sidebar-other-page__single">
                                    <div class="icon">
                                        <i class="tractor-home"></i>
                                    </div>
                                    <h3 class="page-title"> About 01</h3>
                                </a>
                                <a href="page-history.html" class="sidebar-other-page__single">
                                    <div class="icon">
                                        <i class="tractor-history"></i>
                                    </div>
                                    <h3 class="page-title">History</h3>
                                </a>
                                <a href="page-leadership.html" class="sidebar-other-page__single">
                                    <div class="icon">
                                        <i class="tractor-network"></i>
                                    </div>
                                    <h3 class="page-title">Leadership</h3>
                                </a>
                                <a href="page-partner.html" class="sidebar-other-page__single active">
                                    <div class="icon">
                                        <i class="tractor-user"></i>
                                    </div>
                                    <h3 class="page-title">Partners & Clients</h3>
                                </a>
                                <a href="page-faq.html" class="sidebar-other-page__single">
                                    <div class="icon">
                                        <i class="tractor-compass"></i>
                                    </div>
                                    <h3 class="page-title">F.A.Q’s</h3>
                                </a>
                                <a href="page-award.html" class="sidebar-other-page__single">
                                    <div class="icon">
                                        <i class="tractor-bookmark"></i>
                                    </div>
                                    <h3 class="page-title">Award & Recognition</h3>
                                </a>
                            </div>
                        </div>

                        <!-- single sidebar widget -->
                        <div class="single-sidebar-widget">
                            <h2 class="widget-title">Case Studies</h2>
                            <div class="sidebar-case-study-list">
                                <div class="single-sidebar-case-study">
                                    <div class="single-sidebar-case-study__image">
                                        <a href="#"><img src="assets/img/industry/1-75x64.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="single-sidebar-case-study__content">
                                        <h3 class="title"><a href="#">GreenEco Park</a></h3>
                                        <p class="category"><a href="#">Industry</a></p>
                                    </div>
                                </div>
                                <div class="single-sidebar-case-study">
                                    <div class="single-sidebar-case-study__image">
                                        <a href="#"><img src="assets/img/industry/2-75x64.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="single-sidebar-case-study__content">
                                        <h3 class="title"><a href="#">Burry Bridge</a></h3>
                                        <p class="category"><a href="#">Manufacturing</a></p>
                                    </div>
                                </div>
                                <div class="single-sidebar-case-study">
                                    <div class="single-sidebar-case-study__image">
                                        <a href="#"><img src="assets/img/industry/3-75x64.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="single-sidebar-case-study__content">
                                        <h3 class="title"><a href="#">Rosemary Pump</a></h3>
                                        <p class="category"><a href="#">Oil & Gas</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="twitter-feed-slider__area twitter-feed-slider__area--style2 bg-img section-space--top--30" data-bg="assets/img/patterns/2.png">
                        <div class="twitter-feed-slider__container-area">
                            <div class="swiper-container twitter-feed-slider__container">
                                <div class="swiper-wrapper twitter-feed-slider__wrapper">
                                    <div class="swiper-slide twitter-feed-slider__single">
                                        <div class="tweet">
                                            <div class="tweet-date">March 19, 2022</div>
                                            <div class="tweet-text">Hoops for days
                                                Feature: <a href="#" target="_blank">whodunelson</a> <a href="https://t.co/8Q26cTf0j5" target="_blank">https://t.co/8Q26cTf0j5</a> <a href="https://t.co/iSxZuO8RIh" target="_blank">https://t.co/iSxZuO8RIh</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ht-swiper-button-prev ht-swiper-button-prev-5 ht-swiper-button-nav"><i class="ion-ios-arrow-left"></i></div>
                            <div class="ht-swiper-button-next ht-swiper-button-next-5 ht-swiper-button-nav"><i class="ion-ios-arrow-forward"></i></div>
                            <span class="twitter-icon"><i class="ion-social-twitter"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of page content wrapper  ====================-->
    <!--====================  footer area ====================-->
   <%- include("partials/_footer.ejs")%>
    <!--====================  End of footer area  ====================-->
    <!--====================  mobile menu overlay ====================-->
    
    <!--====================  End of mobile menu overlay  ====================-->
    <!--====================  search overlay ====================-->
    <div class="search-overlay" id="search-overlay">
        <a id="popup-search-close" href="#" class="popup-search-close"><i class="ion-ios-close-empty"></i></a>
        <div class="page-popup-search-inner">
            <form action="#">
                <input type="text" class="search-field" id="search-field">
            </form>
            <p class="form-description">Hit enter to search or ESC to close</p>
        </div>
    </div>
    <!--====================  End of search overlay  ====================-->
    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="ion-android-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->
    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Popper JS -->
    <script src="assets/js/vendor/popper.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Tippy JS -->
    <script src="assets/js/plugins/tippy.min.js"></script>

    <!-- Light gallery JS -->
    <script src="assets/js/plugins/lightgallery.min.js"></script>

    <!-- Light gallery video JS -->
    <script src="assets/js/plugins/lg-video.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counter up JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- Isotope JS -->
    <script src="assets/js/plugins/isotope.min.js"></script>

    <!-- Masonry JS -->
    <script src="assets/js/plugins/masonry.min.js"></script>

    <!-- ImagesLoaded JS -->
    <script src="assets/js/plugins/images-loaded.min.js"></script>

    <!-- Appear JS -->
    <script src="assets/js/plugins/appear.min.js"></script>

    <!-- Gmap3 JS -->
    <script src="assets/js/plugins/gmap3.min.js"></script>

    <!-- Mailchimp JS -->
    <script src="assets/js/plugins/mailchimp-ajax-submit.min.js"></script>


    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


</body>


<!-- Mirrored from htmldemo.net/megan/megan/page-partner.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 02:56:50 GMT -->
</html>