<!DOCTYPE html>
<html class="no-js" lang="zxx">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hyderabad Bottling</title>
    <meta name="description" content="Hyderabad bottling bottle washing machine
    liquor business bottle manufacturing glass bottle beverages manufacturing alcoholic beverages ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
   

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">

    <!-- Ionicons CSS -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">

    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/flaticon.min.css">

    <!-- Icomoon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/icomoon.min.css">

    <!-- Tractor icon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/tractor-icon.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">

    <!-- Light gallery CSS -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">




    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">











</head>

<body>
    <!--====================  preloader ====================-->
    
    <!--====================  End of preloader  ====================-->
    <!--====================  header area ====================-->
    
            <!--=======  End of header info area =======-->
            <!--=======  header navigation area  =======-->
            <%- include("partials/_header.ejs")%>
    <!--====================  End of header area  ====================-->
    <!--====================  support footer area ====================-->
    
    <!--====================  End of support footer area  ====================-->
    <!--====================  icon info area ====================-->
    <div class="icon-info-area section-space--inner--120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="icon-info-wrapper">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="single-icon-info">
                                    <div class="single-icon-info__image">
                                        <img src="assets/img/icons/location-yellow.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="single-icon-info__content">
                                        <h4 class="single-icon-info__title single-icon-info__title--black2">Location
                                        </h4>
                                        <p class="single-icon-info__text"> Plot No 2, opp. Siemens, Gandhi Nagar Industrial Area, Nanda Nagar, Balanagar,Hyderabad  <br>   Telangana 500055
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="single-icon-info">
                                    <div class="single-icon-info__image">
                                        <img src="assets/img/icons/support-yellow.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="single-icon-info__content">
                                        <h4 class="single-icon-info__title single-icon-info__title--black2">Call Center
                                        </h4>
                                        <p class="single-icon-info__text">24/7 Support<br> 9866177042 / 040-65557042
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="single-icon-info">
                                    <div class="single-icon-info__image">
                                        <img src="assets/img/icons/message-yellow.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="single-icon-info__content">
                                        <h4 class="single-icon-info__title single-icon-info__title--black2">Email Us
                                        </h4>
                                        <p class="single-icon-info__text">about@company.com<br> contact@company.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of icon info area  ====================-->


    <!--====================  page content wrapper ====================-->
    <div class="page-content-wrapper section-space--inner--bottom--120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="career-title-area text-center section-space--bottom--50">
                        <h2 class="title">Call Us or Fill The Form</h2>
                        <p class="subtitle">Leave your information and submit to us. Subscribe to our newsletters for
                            more
                            updates and reports.</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-9 mx-auto">
                    <div class="contact-form-wrapper">
                        <form id="contact-form" action="https://htmlmail.hasthemes.com/rashed/megan-mail.php"
                            method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" name="con_name" id="con_name" placeholder="Name *" required>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" name="con_email" id="con_email" placeholder="Your Email *"
                                        required>
                                </div>
                                <div class="col-lg-12">
                                    <input type="text" name="con_phone" id="con_phone" placeholder="Phone Number">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Message" name="con_message" id="con_message"></textarea>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" value="submit" id="submit" name="submit"
                                        class="ht-btn ht-btn--default">SEND MESSAGE</button>
                                </div>
                            </div>
                        </form>
                        <p class="form-message text-center"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of page content wrapper  ====================-->
    <!--====================  footer area ====================-->
    <%- include("partials/_footer.ejs")%>
    <!--====================  End of mobile menu overlay  ====================-->
    <!--====================  search overlay ====================-->
    <div class="search-overlay" id="search-overlay">
        <a id="popup-search-close" href="#" class="popup-search-close"><i class="ion-ios-close-empty"></i></a>
        <div class="page-popup-search-inner">
            <form action="#">
                <input type="text" class="search-field" id="search-field">
            </form>
            <p class="form-description">Hit enter to search or ESC to close</p>
        </div>
    </div>
    <!--====================  End of search overlay  ====================-->
    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="ion-android-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->
    <!-- JS
    ============================================ -->

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Popper JS -->
    <script src="assets/js/vendor/popper.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Tippy JS -->
    <script src="assets/js/plugins/tippy.min.js"></script>

    <!-- Light gallery JS -->
    <script src="assets/js/plugins/lightgallery.min.js"></script>

    <!-- Light gallery video JS -->
    <script src="assets/js/plugins/lg-video.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counter up JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- Appear JS -->
    <script src="assets/js/plugins/appear.min.js"></script>

    <!-- Gmap3 JS -->
    <script src="assets/js/plugins/gmap3.min.js"></script>

    <!-- Isotope JS -->
    <script src="assets/js/plugins/isotope.min.js"></script>

    <!-- Mailchimp JS -->
    <script src="assets/js/plugins/mailchimp-ajax-submit.min.js"></script>


    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


    <!-- Google Map -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD79MY72taVRlZVX2DU6L5PXOh3ezUUKMc&amp;callback=initMap"></script>

    <!-- Map JS -->
    <script>
        jQuery(document).ready(function ($) {

            var gmMapDiv = $("#google-map-one");

            (
                function ($) {

                    if (gmMapDiv.length) {

                        var gmHeight = gmMapDiv.attr("data-height");
                        var gmWidth = gmMapDiv.attr("data-width");
                        var gmZoomEnable = gmMapDiv.attr("data-zoom_enable");
                        var gmZoom = gmMapDiv.attr("data-zoom");
                        gmMapDiv.width(gmWidth).height(gmHeight);
                        gmMapDiv.gmap3({
                            action: "init",
                            marker: {
                                values: [{
                                    address: "40.7590615,-73.969231",
                                    data: "<div class=\"gmap-marker-wrap\"><h5 class=\"gmap-marker-title\">New Jersey Office<\/h5><div class=\"gmap-marker-content\"><i class=\"fa fa-map-marker\" aria-hidden=\"true\"><\/i> 799-701 Ballantyne Rd<br \/>\nSyracuse, NY 13207<\/div><\/div>",
                                    options: {
                                        icon: "",
                                        visible: false,
                                    }
                                }],
                                events: {
                                    click: function (marker, event, context) {
                                        if (context.data == 0) {
                                            return;
                                        }
                                        var map = $(this).gmap3("get");
                                        infowindow = $(this).gmap3({
                                            get: {
                                                name: "infowindow"
                                            }
                                        });
                                        if (infowindow) {
                                            infowindow.open(map, marker);
                                            infowindow.setContent(context.data);
                                        } else {
                                            $(this).gmap3({
                                                infowindow: {
                                                    anchor: marker,
                                                    options: {
                                                        content: context.data
                                                    }
                                                }
                                            });
                                        }
                                    }
                                }

                            },
                            overlay: {
                                values: [{
                                    address: "40.7590615,-73.969231",
                                    data: "<div class=\"gmap-marker-wrap\"><h5 class=\"gmap-marker-title\">New Jersey Office<\/h5><div class=\"gmap-marker-content\"><i class=\"ion-android-pin\" aria-hidden=\"true\"><\/i> 799-701 Ballantyne Rd<br \/>\nSyracuse, NY 13207<\/div><\/div>",
                                    options: {
                                        content: '<div><div class="animated-dot">' +
                                            '<div class="middle-dot"><i class="ion-android-pin"></i></div>' +
                                            '<div class="signal"></div>' +
                                            '<div class="signal2"></div>' + '</div></div>',
                                    }
                                }],
                                events: {
                                    click: function (overlay, event, context) {
                                        if (context.data == 0) {
                                            return;
                                        }
                                        var map = $(this).gmap3("get");
                                        infowindow = $(this).gmap3({
                                            get: {
                                                name: "infowindow"
                                            }
                                        });
                                        if (infowindow) {
                                            infowindow.open(map, overlay);
                                            infowindow.setContent(context.data);
                                        } else {
                                            $(this).gmap3({
                                                infowindow: {
                                                    anchor: overlay,
                                                    options: {
                                                        content: context.data
                                                    }
                                                }
                                            });
                                        }
                                    }
                                }
                            },
                            map: {
                                options: {
                                    zoom: parseInt(gmZoom),
                                    zoomControl: true,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                    mapTypeControl: false,
                                    scaleControl: false,
                                    scrollwheel: gmZoomEnable == 'enable' ? true : false,
                                    streetViewControl: false,
                                    draggable: true,
                                    styles: [{
                                        "featureType": "landscape.man_made",
                                        "elementType": "geometry",
                                        "stylers": [{
                                            "color": "#f7f1df"
                                        }]
                                    },
                                    {
                                        "featureType": "landscape.natural",
                                        "elementType": "geometry",
                                        "stylers": [{
                                            "color": "#d0e3b4"
                                        }]
                                    },
                                    {
                                        "featureType": "landscape.natural.terrain",
                                        "elementType": "geometry",
                                        "stylers": [{
                                            "visibility": "off"
                                        }]
                                    },
                                    {
                                        "featureType": "poi",
                                        "elementType": "labels",
                                        "stylers": [{
                                            "visibility": "off"
                                        }]
                                    },
                                    {
                                        "featureType": "poi.business",
                                        "elementType": "all",
                                        "stylers": [{
                                            "visibility": "off"
                                        }]
                                    },
                                    {
                                        "featureType": "poi.medical",
                                        "elementType": "geometry",
                                        "stylers": [{
                                            "color": "#fbd3da"
                                        }]
                                    },
                                    {
                                        "featureType": "poi.park",
                                        "elementType": "geometry",
                                        "stylers": [{
                                            "color": "#bde6ab"
                                        }]
                                    },
                                    {
                                        "featureType": "road",
                                        "elementType": "geometry.stroke",
                                        "stylers": [{
                                            "visibility": "off"
                                        }]
                                    },
                                    {
                                        "featureType": "road",
                                        "elementType": "labels",
                                        "stylers": [{
                                            "visibility": "off"
                                        }]
                                    },
                                    {
                                        "featureType": "road.highway",
                                        "elementType": "geometry.fill",
                                        "stylers": [{
                                            "color": "#ffe15f"
                                        }]
                                    },
                                    {
                                        "featureType": "road.highway",
                                        "elementType": "geometry.stroke",
                                        "stylers": [{
                                            "color": "#efd151"
                                        }]
                                    },
                                    {
                                        "featureType": "road.arterial",
                                        "elementType": "geometry.fill",
                                        "stylers": [{
                                            "color": "#ffffff"
                                        }]
                                    },
                                    {
                                        "featureType": "road.local",
                                        "elementType": "geometry.fill",
                                        "stylers": [{
                                            "color": "black"
                                        }]
                                    },
                                    {
                                        "featureType": "transit.station.airport",
                                        "elementType": "geometry.fill",
                                        "stylers": [{
                                            "color": "#cfb2db"
                                        }]
                                    },
                                    {
                                        "featureType": "water",
                                        "elementType": "geometry",
                                        "stylers": [{
                                            "color": "#a2daf2"
                                        }]
                                    }
                                    ]


                                }
                            }
                        });
                    }
                }
            )(jQuery);
        });
    </script>

    <!--=====  End of JS files ======-->

</body>


<!-- Mirrored from htmldemo.net/megan/megan/page-contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 02:56:44 GMT -->
</html>