<!DOCTYPE html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/megan/megan/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 02:54:07 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hyderabad Bottling Equipment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/img/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">

    <!-- Ionicons CSS -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">

    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/flaticon.min.css">
    <!-- Flaticon2 CSS -->
    <link rel="stylesheet" href="assets/css/vendor/flat2.min.css">

    <!-- Flaticon3 thin CSS -->
    <link rel="stylesheet" href="assets/css/vendor/uicons-thin-rounded.css">

    <!-- Icomoon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/icomoon.min.css">

    <!-- Tractor icon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/tractor-icon.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">

    <!-- Light gallery CSS -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">



    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">











    <!-- Revolution Slider CSS -->
    <link href="assets/revolution/css/settings.css" rel="stylesheet">
    <link href="assets/revolution/css/navigation.css" rel="stylesheet">
    <link href="assets/revolution/custom-setting.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--====================  preloader ====================-->
   
    <!--====================  End of preloader  ====================-->
    <!--====================  header area ====================-->
    <%- include("partials/_header.ejs")%>
    <!--====================  End of header area  ====================-->
    <!--====================  hero slider area ====================-->
    <div class="hero-slider-area">
        <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.4.7 fullwidth mode -->
            <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-4" data-transition="incube-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/img/slider/one/100x50_home_00_01.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/slider/one/home1-dark.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption     rev_group" id="slide-4-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="['988','772','595','99%']" data-height="['454','453','404','347']" data-whitespace="nowrap" data-type="group" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; min-width: 988px; max-width: 988px; max-width: 454px; max-width: 454px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption  " id="slide-4-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['70','90','74','72']" data-fontsize="['90','70','60','40']" data-lineheight="['105','85','75','54']" data-fontweight="['900','900','700','900']" data-width="['800','600','500','350']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+930","speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; min-width: 800px; max-width: 800px; white-space: normal; font-size: 90px; line-height: 105px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">Making the
                                complex simple. </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption  " id="slide-4-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+620","speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[10,10,10,10]" data-paddingright="[10,10,10,10]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[10,10,10,10]" style="z-index: 7; white-space: nowrap; font-size: 12px; line-height: 12px; font-weight: 700; color: #ffffff; letter-spacing: 2px;font-family:Roboto;text-transform:uppercase;border-color:rgba(255,255,255,0.2);border-style:solid;border-width:1px 1px 1px 1px;">Building up vision leading future </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption  " id="slide-4-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['107','107','108','83']" data-fontsize="['18','18','18','16']" data-lineheight="['18','18','18','28']" data-width="['none','none','none','350']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+1340","speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,30]" style="z-index: 8; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">Wide range of Bottling Equipments </div>

                            <!-- LAYER NR. 5 -->
                            <a class="tp-caption rev-btn-01 rev-btn " href="industries-grid.html" target="_self" id="slide-4-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+1620","speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(34,34,34);bs:solid;bw:0 0 0 0;"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[20,20,20,20]" data-paddingright="[30,30,30,30]" data-paddingbottom="[20,20,20,20]" data-paddingleft="[30,30,30,30]" style="z-index: 9; white-space: nowrap; letter-spacing: 1px;text-transform:uppercase;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Our industries </a>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-5" data-transition="incube-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/img/slider/one/100x50_home_00_15.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/slider/one/home2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption  " id="slide-5-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-90','-100']" data-lineheight="['105','105','60','54']" data-fontweight="['900','900','900','700']" data-width="['none','none','90%','400']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":640,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,21]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,21]" data-marginbottom="[0,0,0,15]" data-fontsize="[90, 80, 70, 60]" style="z-index: 5; white-space: nowrap; font-size: 90px; line-height: 105px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">We fulfill your purpose </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption  " id="slide-5-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-lineheight="['18','18','18','28']" data-width="['none','none','none','90%']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":1040,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">Innovative – Open and creative to engineering solutions. </div>

                        <!-- LAYER NR. 8 -->
                        <a class="tp-caption rev-btn-01 rev-btn " href="industries-grid.html" target="_self" id="slide-5-layer-4" data-x="['center','center','center','center']" data-hoffset="['-100','-100','-100','-94']" data-y="['middle','middle','middle','middle']" data-voffset="['110','110','120','130']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":1460,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(34,34,34);bs:solid;bw:0 0 0 0;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[20,20,20,20]" data-paddingright="[30,30,30,30]" data-paddingbottom="[20,20,20,20]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: nowrap; letter-spacing: 1px;text-transform:uppercase;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Our industries </a>

                        <!-- LAYER NR. 9 -->
                        <a class="tp-caption rev-btn-02 rev-btn " href="#" target="_self" id="slide-5-layer-6" data-x="['center','center','center','center']" data-hoffset="['100','100','100','94']" data-y="['middle','middle','middle','middle']" data-voffset="['110','110','120','130']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":1900,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,194,70);bc:rgb(255,194,70);"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[19,19,19,19]" data-paddingright="[29,29,29,29]" data-paddingbottom="[19,19,19,19]" data-paddingleft="[29,29,29,29]" style="z-index: 8; white-space: nowrap; letter-spacing: 1px;text-transform:uppercase;border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Purchase Now </a>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-6" data-transition="incube-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/img/slider/one/100x50_home_00_16.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/slider/one/home3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption  " id="slide-6-layer-3" data-x="['center','center','center','center']" data-hoffset="['1','1','1','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-150','-170','-140']" data-fontsize="['24','24','18','16']" data-lineheight="['26','26','26','18']" data-fontweight="['700','700','700','400']" data-width="['none','none','100%','300']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":490,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 26px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">Vestibulum ante ipsum primis in faucibus orci luctus </div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption  " id="slide-6-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','-8','-16','2']" data-fontsize="['70','50','40','30']" data-lineheight="['80','65','65','54']" data-width="['1000','600','500','300']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":910,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,30,30]" data-marginleft="[0, 0, 'auto', 'auto' ]" data-marginright="[0, 0, 'auto', 'auto' ]" style="z-index: 6; min-width: 1000px; max-width: 1000px; white-space: normal; font-size: 70px; line-height: 80px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">Global Automative Market
                            Grows to $600 billion </div>

                        <!-- LAYER NR. 12 -->
                        <a class="tp-caption rev-btn-01 rev-btn " href="industries-grid.html" target="_self" id="slide-6-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['135','135','150','135']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":1350,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(34,34,34);bs:solid;bw:0 0 0 0;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[20,20,20,20]" data-paddingright="[30,30,30,30]" data-paddingbottom="[20,20,20,20]" data-paddingleft="[30,30,30,30]" style="z-index: 7; white-space: nowrap; letter-spacing: 1px;text-transform:uppercase;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Our industries </a>
                    </li>
                </ul>
                <div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
    <!--====================  End of hero slider area  ====================-->
    <!--====================  featured project area ====================-->
    <div class="featured-project-area bg-img section-space--inner--top--120 section-space--inner--bottom--300" data-bg="assets/img/patterns/1.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="featured-project-wrapper">
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- section title left align -->
                                <div class="section-title-area">
                                    <h4 class="subtitle">Bottling Equipments Manufacturing Comapny</h4>
                                    <h2 class="title title--left">Hyderabad Bottling Equipments  </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <!-- section title content -->
                                <div class="section-title-content-area">
                                    <p class="section-title-content">Hyderabad Bottling Equipments is the Part of S&S Group of Companies. S & S Group of Companies are one of the biggest suppliers of high speed bottling equipments in India and long founded 15 Years ago initially as a proprietor ship.                                    </p>
                                    <div class="video-button-container video-popup">
                                        <a href="https://youtu.be/ekPrFT5nPvg" class="section-title-video-button">
                                            <div class="video-play bg-img" data-bg="assets/img/icons/video-play.png">
                                                <i class="ion-ios-play"></i>
                                            </div>
                                            <div class="video-text"> LEARN ABOUT US <i class="ion-arrow-right-c"></i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of featured project area  ====================-->

    <!--====================  feature project box slider area ====================-->
    <div class="feature-project-box-slider-area grey-bg section-space--inner--bottom--120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- feature project box wrapper -->
                    <div class="feature-project-box-wrapper">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- single feature project box -->
                                <div class="single-feature-project-box">
                                    <div class="single-feature-project-box__image">
                                        <img src="assets/img/banner/feature1.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="single-feature-project-box__content">
                                        <h3 class="single-feature-project-box__title">Social Responsibilities</h3>
                                        <p class="single-feature-project-box__subtitle">Our operation aligns with and forms a business model in order to succeed.</p>
                                    </div>
                                    <a href="#" class="single-feature-project-box__link"> <span>SEE MORE </span> <i class="ion-arrow-right-c"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- single feature project box -->
                                <div class="single-feature-project-box">
                                    <div class="single-feature-project-box__image">
                                        <img src="assets/img/banner/feature2.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="single-feature-project-box__content">
                                        <h3 class="single-feature-project-box__title">Leadership Role</h3>
                                        <p class="single-feature-project-box__subtitle">We lead a powerfully growing company with an evident social improving role.</p>
                                    </div>
                                    <a href="#" class="single-feature-project-box__link"> <span>SEE MORE </span> <i class="ion-arrow-right-c"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- single feature project box -->
                                <div class="single-feature-project-box">
                                    <div class="single-feature-project-box__image">
                                        <img src="assets/img/banner/feature3.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="single-feature-project-box__content">
                                        <h3 class="single-feature-project-box__title">Awards & Accolades</h3>
                                        <p class="single-feature-project-box__subtitle">The rewards we received are the noble compliments for what we have done.</p>
                                    </div>
                                    <a href="#" class="single-feature-project-box__link"> <span>SEE MORE </span> <i class="ion-arrow-right-c"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- feature project slider wrapper -->
                    <div class="feature-project-slider-wrapper section-space--top--60">
                        <div class="swiper-container feature-project-slider-container">
                            <div class="swiper-wrapper feature-project-slider-wrapper">
                                <div class="swiper-slide feature-project-single-slide">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="feature-project-single-slide__image">
                                                <img src="assets/img/banner/feature4.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="feature-project-single-slide__content">
                                                <!-- section title left align -->
                                                <div class="section-title-area">
                                                    <h4 class="subtitle">SUSTAINABILITY GOALS</h4>
                                                    <h2 class="title title--left">Safety Environment</h2>
                                                </div>
                                                <p class="section-title-content"> It is imperative that everyone follows the policies and guidelines to ensure their own safety and the safety of others around them.</p>
                                                <a href="#" class="ht-btn ht-btn--dark">SUSTAINABILITY</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide feature-project-single-slide">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="feature-project-single-slide__image">
                                                <img src="assets/img/banner/feature5.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="feature-project-single-slide__content">
                                                <!-- section title left align -->
                                                <div class="section-title-area">
                                                    <h4 class="subtitle">SUSTAINABILITY GOALS</h4>
                                                    <h2 class="title title--left">Integrity & Safety</h2>
                                                </div>
                                                <p class="section-title-content"> It is imperative that everyone follows the policies and guidelines to ensure their own safety and the safety of others around them.</p>
                                                <a href="#" class="ht-btn ht-btn--dark">SUSTAINABILITY</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide feature-project-single-slide">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="feature-project-single-slide__image">
                                                <img src="assets/img/banner/feature6.png" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="feature-project-single-slide__content">
                                                <!-- section title left align -->
                                                <div class="section-title-area">
                                                    <h4 class="subtitle">SUSTAINABILITY GOALS</h4>
                                                    <h2 class="title title--left">Health & Safety</h2>
                                                </div>
                                                <p class="section-title-content"> It is imperative that everyone follows the policies and guidelines to ensure their own safety and the safety of others around them.</p>
                                                <a href="#" class="ht-btn ht-btn--dark">SUSTAINABILITY</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-1 d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of feature project box slider area  ====================-->
    <!--====================  industry slider area ====================-->
    <div class="industry-slider-area">
        <!-- industry slider nav -->
        <div class="industry-slider-nav-area">
            <div class="swiper-container industry-slider-nav-container">
                <div class="swiper-wrapper industry-slider-nav-wrapper">
                    <div class="swiper-slide">
                        <div class="industry-single-nav">
                            <div class="industry-single-nav__icon">
                                <i class="flaticon-001-worker-1"></i>
                            </div>
                            <div class="industry-single-nav__title">
                                Chemical Plants
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-single-nav">
                            <div class="industry-single-nav__icon">
                                <i class="flaticon-010-tank-1"></i>
                            </div>
                            <div class="industry-single-nav__title">
                                Oil Products Companies
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-single-nav">
                            <div class="industry-single-nav__icon">
                                <i class="fi fi-rs-beer"></i>
                            </div>
                            <div class="industry-single-nav__title">
                                Beer Plants
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-single-nav">
                            <div class="industry-single-nav__icon">
                                <i class="fi fi-tr-hamburger-soda"></i>
                            </div>
                            <div class="industry-single-nav__title">
                                Food Production Companies
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-single-nav">
                            <div class="industry-single-nav__icon">
                                <i class="fi fi-tr-drink"></i>
                            </div>
                            <div class="industry-single-nav__title">
                                Liqour Plants
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-single-nav">
                            <div class="industry-single-nav__icon">
                                <i class="fi fi-rs-doctor"></i>
                            </div>
                            <div class="industry-single-nav__title">
                                pharmaceutical Plants
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ht-swiper-button-prev ht-swiper-button-prev-2 ht-swiper-button-nav d-none d-lg-block"><i class="ion-ios-arrow-left"></i></div>
            <div class="ht-swiper-button-next ht-swiper-button-next-2 ht-swiper-button-nav d-none d-lg-block"><i class="ion-ios-arrow-forward"></i></div>
        </div>
        <!-- industry slider content -->
        <div class="industry-slider-content-area">
            <div class="swiper-container industry-slider-content-container">
                <div class="swiper-wrapper industry-slider-content-wrapper">
                    <div class="swiper-slide">
                        <div class="industry-slider-content-single bg-img" data-bg="assets/img/backgrounds/chem.jpg">
                            <div class="container">
                                <div class="industry-content-inner">
                                    <div class="section-title-area">
                                        <h2 class="title title--left"> Chemical Plant</h2>
                                    </div>
                                    <p class="section-title-content"> We harness our vast resources of worldwide engineers, designers, and fabricators to provide the best procurement options.</p>
                                    <a href="service-details.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-slider-content-single bg-img" data-bg="assets/img/backgrounds/oill.jpg" >
                            <div class="container">
                                <div class="industry-content-inner">
                                    <div class="section-title-area">
                                        <h2 class="title title--left"> Oil & Gas Energy</h2>
                                    </div>
                                    <p class="section-title-content"> Many rodents and insects can cause allergies and some have poisonous venom that can hurt, and sometimes kill, people.</p>
                                    <a href="service-details-2.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-slider-content-single bg-img" data-bg="assets/img/backgrounds/beear.jpg">
                            <div class="container">
                                <div class="industry-content-inner">
                                    <div class="section-title-area">
                                        <h2 class="title title--left"> Beer Plants</h2>
                                    </div>
                                    <p class="section-title-content"> Bridge construction typically involves methods using relatively discrete elements which are assembled piece by piece.</p>
                                    <a href="service-details-3.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-slider-content-single bg-img" data-bg="assets/img/backgrounds/foodb.jpg">
                            <div class="container">
                                <div class="industry-content-inner">
                                    <div class="section-title-area">
                                        <h2 class="title title--left"> Food Product Manufacturing</h2>
                                    </div>
                                    <p class="section-title-content"> Those in the industrial construction business design the view, install the equipment and maintain the titanic structures projects.</p>
                                    <a href="service-details-4.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-slider-content-single bg-img" data-bg="assets/img/backgrounds/liqour.jpg">
                            <div class="container">
                                <div class="industry-content-inner">
                                    <div class="section-title-area">
                                        <h2 class="title title--left"> Liqour Plants</h2>
                                    </div>
                                    <p class="section-title-content"> Chemical materials developed to assist in the production of food, feed, and fiber include scores of herbicides other pesticides,</p>
                                    <a href="service-details-5.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="industry-slider-content-single bg-img" data-bg="assets/img/backgrounds/pharm.jpg">
                            <div class="container">
                                <div class="industry-content-inner">
                                    <div class="section-title-area">
                                        <h2 class="title title--left"> Pharmaceutical Plants</h2>
                                    </div>
                                    <p class="section-title-content"> Industrial engineering is concerned with the development, improvement, and advancement in manufacturing, producing and recycling.</p>
                                    <a href="service-details-6.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of industry slider area  ====================-->
    <!--====================  featured project two slider area ====================-->
    <div class="featured-project-two-slider-area section-space--inner--120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- section title -->
                    <div class="section-title-area section-title-area--middle section-space--bottom--80">
                        <h4 class="subtitle">FEATURED PROJECTS</h4>
                        <h2 class="title">Explore What We have </h2>
                    </div>

                    <!-- featured project two slider -->
                    <div class="featured-project-two-slider">
                        <div class="swiper-container featured-project-two-slider-container">
                            <div class="swiper-wrapper featured-project-two-slider-wrapper">

                                <div class="swiper-slide">
                                    <div class="feature-project-two-single-item">
                                        <div class="feature-project-two-single-item__image">
                                            <img height="300px" width="300px" src="assets/img/projects/wash.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="feature-project-two-single-item__content">
                                            <a href="case-study-single-slider.html" class="stretched-link">Washing Equipments</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feature-project-two-single-item">
                                        <div class="feature-project-two-single-item__image">
                                            <img height="300px" width="300px" src="assets/img/projects/filling.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="feature-project-two-single-item__content">
                                            <a href="case-study-single-gallery.html" class="stretched-link">Filling Equipments</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feature-project-two-single-item">
                                        <div class="feature-project-two-single-item__image">
                                            <img height="300px" width="300px" src="assets/img/projects/sealing.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="feature-project-two-single-item__content">
                                            <a href="case-study-single-slider.html" class="stretched-link">Sealing Equipments</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feature-project-two-single-item">
                                        <div class="feature-project-two-single-item__image">
                                            <img height="300px" width="300px" src="assets/img/projects/label.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="feature-project-two-single-item__content">
                                            <a href="case-study-single-gallery.html" class="stretched-link">Labeling Equipments</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="feature-project-two-single-item">
                                        <div class="feature-project-two-single-item__image">
                                            <img height="300px" width="300px" src="assets/img/projects/conveyor.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="feature-project-two-single-item__content">
                                            <a href="case-study-single-slider.html" class="stretched-link">Conveyors Belts</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-2"></div>
                        <div class="ht-swiper-button-prev ht-swiper-button-prev-1 ht-swiper-button-nav d-none d-lg-block"><i class="ion-ios-arrow-left"></i></div>
                        <div class="ht-swiper-button-next ht-swiper-button-next-1 ht-swiper-button-nav d-none d-lg-block"><i class="ion-ios-arrow-forward"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of featured project two slider area  ====================-->
    <!--====================  testimonial brand slider area ====================-->
    <div class="testimonial-brand-slider-area section-space--inner--120 grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- testimonial slider -->
                    <div class="testimonial-slider__body-wrapper section-space--bottom--60">
                        <!-- testimonial slider title -->
                        <div class="testimonial-slider__title-wrapper section-space--bottom--60">
                            <h2 class="testimonial-slider__title"><i class="icon icomoon-chat-1"></i> Happy Customers Said</h2>
                            <div class="testimonial-slider__nav-container">
                                <div class="ht-swiper-button-prev ht-swiper-button-prev-3 ht-swiper-button-nav"><i class="ion-chevron-left"></i></div>
                                <div class="ht-swiper-button-next ht-swiper-button-next-3 ht-swiper-button-nav"><i class="ion-chevron-right"></i></div>
                            </div>
                        </div>

                        <div class="testimonial-slider__content-area">
                            <div class="swiper-container testimonial-slider__container">
                                <div class="swiper-wrapper testimonial-slider__wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial-slider__single-item">
                                            <div class="testimonial-slider__single-item__image">
                                                <img src="assets/img/testimonial/1.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="testimonial-slider__single-item__content">
                                                <h4 class="testimonial-name"> Fannie Moreno <span class="designation">Founder Xcompany</span></h4>
                                                <div class="rating">
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star-outline"></i>
                                                </div>
                                                <p class="text">I would say I highly recommend this to my friends, acquaintances and family members. The attitude and services are always dedicated.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-slider__single-item">
                                            <div class="testimonial-slider__single-item__image">
                                                <img src="assets/img/testimonial/2.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="testimonial-slider__single-item__content">
                                                <h4 class="testimonial-name">David James <span class="designation">Founder Xcompany</span></h4>
                                                <div class="rating">
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                </div>
                                                <p class="text">I would say I highly recommend this to my friends, acquaintances and family members. The attitude and services are always dedicated.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-slider__single-item">
                                            <div class="testimonial-slider__single-item__image">
                                                <img src="assets/img/testimonial/3.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="testimonial-slider__single-item__content">
                                                <h4 class="testimonial-name"> Bryan Freeman <span class="designation">Founder Xcompany</span></h4>
                                                <div class="rating">
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star-outline"></i>
                                                </div>
                                                <p class="text">Their services are among the best to be honest. Making everything simple and easy, even for beginners and novices like me and my wife.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-slider__single-item">
                                            <div class="testimonial-slider__single-item__image">
                                                <img src="assets/img/testimonial/4.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="testimonial-slider__single-item__content">
                                                <h4 class="testimonial-name"> Milanda Moses <span class="designation">Founder Xcompany</span></h4>
                                                <div class="rating">
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star-outline"></i>
                                                </div>
                                                <p class="text">Working with @Tractor is like an ever-before experience when people knows what your problem is right when you start to mention it.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-slider__single-item">
                                            <div class="testimonial-slider__single-item__image">
                                                <img src="assets/img/testimonial/5.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="testimonial-slider__single-item__content">
                                                <h4 class="testimonial-name"> John Doe <span class="designation">Founder Xcompany</span></h4>
                                                <div class="rating">
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star"></i>
                                                    <i class="ion-ios-star-outline"></i>
                                                </div>
                                                <p class="text">Here at @Tractor center, you have professional staff to look at your business. All solutions are prompt, precise and accurate.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-3"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- brand logo slider -->
                    <div class="brand-logo-slider__container-area">
                        <div class="swiper-container brand-logo-slider__container">
                            <div class="swiper-wrapper brand-logo-slider__wrapper">
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/1b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/2.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/2b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/3.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/3b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/4.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/4b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/5.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/5b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/6.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/6b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/7.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/7b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/8.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/8b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide brand-logo-slider__single">
                                    <div class="image">
                                        <img src="assets/img/brand-logo/9.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="image-hover">
                                        <img src="assets/img/brand-logo/9b.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of testimonial brand slider area  ====================-->
    <!--====================  project counter area ====================-->
    <div class="project-counter-area">
        <div class="row g-0">
            <div class="col-lg-12">
                <div class="project-counter-wrapper">
                    <!-- project counter-bg -->
                    <div class="project-counter-bg bg-img" data-bg="assets/img/backgrounds/7.jpg"></div>
                    <!-- project counter content -->
                    <div class="project-counter-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="project-counter-single-content-wrapper">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- project counter single content -->
                                            <div class="project-counter-single-content">
                                                <div class="project-counter-single-content__image">
                                                    <img src="assets/img/icons/tree.png" class="img-fluid" alt="">
                                                </div>
                                                <div class="project-counter-single-content__content">
                                                    <span class="project-counter-single-content__project-count counter">2000</span>
                                                    <h5 class="project-counter-single-content__project-title">Power Plants</h5>
                                                    <p class="project-counter-single-content__subtext">With a countrywide network of power plants, we've doing our best to power our community.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- project counter single content -->
                                            <div class="project-counter-single-content">
                                                <div class="project-counter-single-content__image">
                                                    <img src="assets/img/icons/home.png" class="img-fluid" alt="">
                                                </div>
                                                <div class="project-counter-single-content__content">
                                                    <span class="project-counter-single-content__project-count counter">3000</span>
                                                    <h5 class="project-counter-single-content__project-title">Industrial Projects</h5>
                                                    <p class="project-counter-single-content__subtext">We have always been proud of what we have accomplished influential changes.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of project counter area  ====================-->
    <!--====================  blog newsletter area ====================-->
    <div class="blog-newsletter-area section-space--inner--120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <!-- section title -->
                    <div class="section-title-area section-title-area--middle section-space--bottom--80">
                        <h4 class="subtitle">BLOGS & NEWS</h4>
                        <h2 class="title section-space--bottom--30">360° Business Innovation</h2>
                        <p class="section-title-content text-center">It is imperative that everyone follows the policies and guidelines to ensure their own safety and the safety of others around them.</p>
                    </div>
                </div>

                <div class="col-lg-12">
                    <!-- blog newsletter content wrapper -->
                    <div class="blog-newspaper-content-wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <!-- blog title wrapper -->
                                <div class="blog-title-wrapper">
                                    <div class="single-blog-title">
                                        <h3 class="post-title">
                                            <a href="blog-post-image.html">Commercial Ministry to Hike Import Duty on Aluminium</a>
                                        </h3>
                                        <p class="post-date">AUGUST 4, 2022</p>
                                    </div>
                                    <div class="single-blog-title">
                                        <h3 class="post-title">
                                            <a href="blog-post-image.html">Steels’ Safety: India Appeals Against WTO’s Panel Ruling</a>
                                        </h3>
                                        <p class="post-date">AUGUST 4, 2022</p>
                                    </div>
                                    <div class="single-blog-title">
                                        <h3 class="post-title">
                                            <a href="blog-post-image.html">Default Interest Rate in Small Loans Now is Lowest</a>
                                        </h3>
                                        <p class="post-date">AUGUST 4, 2022</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <!-- blog post slider area -->
                                <div class="blog-post-slider__area">
                                    <div class="blog-post-slider__container-area">
                                        <div class="swiper-container blog-post-slider__container">
                                            <div class="swiper-wrapper blog-post-slider__wrapper">
                                                <div class="swiper-slide blog-post-slider__single-slide">
                                                    <div class="blog-post-slider__image section-space--bottom--30">
                                                        <a href="blog-post-image.html"><img src="assets/img/blog/slider/1.jpg" class="img-fluid" alt=""></a>
                                                    </div>
                                                    <div class="blog-post-slider__content">
                                                        <p class="post-date"> August 4, 2022</p>
                                                        <h3 class="post-title">
                                                            <a href="blog-post-image.html">Commercial Ministry to Hike Import Duty on Aluminium</a>
                                                        </h3>
                                                        <p class="post-excerpt">From a consumer perspective, it’s immensely important that borrowers understand the importance of continuing to …</p>
                                                        <a href="blog-post-image.html" class="see-more-link blog-readmore">SEE MORE <i class="ion-arrow-right-c"></i></a>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide blog-post-slider__single-slide">
                                                    <div class="blog-post-slider__image section-space--bottom--30">
                                                        <a href="blog-post-image.html"><img src="assets/img/blog/slider/2.jpg" class="img-fluid" alt=""></a>
                                                    </div>
                                                    <div class="blog-post-slider__content">
                                                        <p class="post-date"> August 4, 2022</p>
                                                        <h3 class="post-title">
                                                            <a href="blog-post-image.html">Steels’ Safety: India Appeals Against WTO’s Panel Ruling</a>
                                                        </h3>
                                                        <p class="post-excerpt">From a consumer perspective, it’s immensely important that borrowers understand the importance of continuing to …</p>
                                                        <a href="blog-post-image.html" class="see-more-link blog-readmore">SEE MORE <i class="ion-arrow-right-c"></i></a>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide blog-post-slider__single-slide">
                                                    <div class="blog-post-slider__image section-space--bottom--30">
                                                        <a href="blog-post-image.html"><img src="assets/img/blog/slider/3.jpg" class="img-fluid" alt=""></a>
                                                    </div>
                                                    <div class="blog-post-slider__content">
                                                        <p class="post-date"> August 4, 2022</p>
                                                        <h3 class="post-title">
                                                            <a href="blog-post-image.html">Default Interest Rate in Small Loans Now is Lowest</a>
                                                        </h3>
                                                        <p class="post-excerpt">From a consumer perspective, it’s immensely important that borrowers understand the importance of continuing to …</p>
                                                        <a href="blog-post-image.html" class="see-more-link blog-readmore">SEE MORE <i class="ion-arrow-right-c"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <!-- newsletter box wrapper -->
                                <div class="newsletter-box-wrapper bg-img" data-bg="assets/img/icons/message.png">
                                    <h3 class="newsletter-title">Subscribe for our latest topics</h3>
                                    <div class="newsletter-form-wrapper">
                                        <form action="#">
                                            <input type="text" placeholder="Name">
                                            <input type="email" placeholder="Email">
                                            <button type="submit">SUBSCRIBE</button>
                                        </form>
                                    </div>
                                    <h3 class="call-text">Call Us: (+00)888.666.88</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of blog newsletter area  ====================-->
    <!--====================  support footer area ====================-->
    <%- include("partials/_footer.ejs")%>
    <!--====================  End of footer area  ====================-->
    <!--====================  mobile menu overlay ====================-->
    
    <!--====================  End of mobile menu overlay  ====================-->
    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="ion-android-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->
    <!-- JS
    ============================================ -->

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Popper JS -->
    <script src="assets/js/vendor/popper.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Tippy JS -->
    <script src="assets/js/plugins/tippy.min.js"></script>

    <!-- Light gallery JS -->
    <script src="assets/js/plugins/lightgallery.min.js"></script>

    <!-- Light gallery video JS -->
    <script src="assets/js/plugins/lg-video.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counter up JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- Appear JS -->
    <script src="assets/js/plugins/appear.min.js"></script>

    <!-- Gmap3 JS -->
    <script src="assets/js/plugins/gmap3.min.js"></script>

    <!-- Isotope JS -->
    <script src="assets/js/plugins/isotope.min.js"></script>

    <!-- Mailchimp JS -->
    <script src="assets/js/plugins/mailchimp-ajax-submit.min.js"></script>


    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD79MY72taVRlZVX2DU6L5PXOh3ezUUKMc&amp;callback=initMap"></script>

    <!-- Map JS -->
    <script>
        jQuery(document).ready(function($) {

            var gmMapDiv = $("#google-map-one");

            (
                function($) {

                    if (gmMapDiv.length) {

                        var gmHeight = gmMapDiv.attr("data-height");
                        var gmWidth = gmMapDiv.attr("data-width");
                        var gmZoomEnable = gmMapDiv.attr("data-zoom_enable");
                        var gmZoom = gmMapDiv.attr("data-zoom");
                        gmMapDiv.width(gmWidth).height(gmHeight);
                        gmMapDiv.gmap3({
                            action: "init",
                            marker: {
                                values: [{
                                    address: "40.7590615,-73.969231",
                                    data: "<div class=\"gmap-marker-wrap\"><h5 class=\"gmap-marker-title\">New Jersey Office<\/h5><div class=\"gmap-marker-content\"><i class=\"fa fa-map-marker\" aria-hidden=\"true\"><\/i> 799-701 Ballantyne Rd<br \/>\nSyracuse, NY 13207<\/div><\/div>",
                                    options: {
                                        icon: "",
                                        visible: false,
                                    }
                                }],
                                events: {
                                    click: function(marker, event, context) {
                                        if (context.data == 0) {
                                            return;
                                        }
                                        var map = $(this).gmap3("get");
                                        infowindow = $(this).gmap3({
                                            get: {
                                                name: "infowindow"
                                            }
                                        });
                                        if (infowindow) {
                                            infowindow.open(map, marker);
                                            infowindow.setContent(context.data);
                                        } else {
                                            $(this).gmap3({
                                                infowindow: {
                                                    anchor: marker,
                                                    options: {
                                                        content: context.data
                                                    }
                                                }
                                            });
                                        }
                                    }
                                }

                            },
                            overlay: {
                                values: [{
                                    address: "40.7590615,-73.969231",
                                    data: "<div class=\"gmap-marker-wrap\"><h5 class=\"gmap-marker-title\">New Jersey Office<\/h5><div class=\"gmap-marker-content\"><i class=\"ion-android-pin\" aria-hidden=\"true\"><\/i> 799-701 Ballantyne Rd<br \/>\nSyracuse, NY 13207<\/div><\/div>",
                                    options: {
                                        content: '<div><div class="animated-dot">' +
                                            '<div class="middle-dot"><i class="ion-android-pin"></i></div>' +
                                            '<div class="signal"></div>' +
                                            '<div class="signal2"></div>' + '</div></div>',
                                    }
                                }],
                                events: {
                                    click: function(overlay, event, context) {
                                        if (context.data == 0) {
                                            return;
                                        }
                                        var map = $(this).gmap3("get");
                                        infowindow = $(this).gmap3({
                                            get: {
                                                name: "infowindow"
                                            }
                                        });
                                        if (infowindow) {
                                            infowindow.open(map, overlay);
                                            infowindow.setContent(context.data);
                                        } else {
                                            $(this).gmap3({
                                                infowindow: {
                                                    anchor: overlay,
                                                    options: {
                                                        content: context.data
                                                    }
                                                }
                                            });
                                        }
                                    }
                                }
                            },
                            map: {
                                options: {
                                    zoom: parseInt(gmZoom),
                                    zoomControl: true,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                    mapTypeControl: false,
                                    scaleControl: false,
                                    scrollwheel: gmZoomEnable == 'enable' ? true : false,
                                    streetViewControl: false,
                                    draggable: true,
                                    styles: [{
                                            "featureType": "landscape.man_made",
                                            "elementType": "geometry",
                                            "stylers": [{
                                                "color": "#f7f1df"
                                            }]
                                        },
                                        {
                                            "featureType": "landscape.natural",
                                            "elementType": "geometry",
                                            "stylers": [{
                                                "color": "#d0e3b4"
                                            }]
                                        },
                                        {
                                            "featureType": "landscape.natural.terrain",
                                            "elementType": "geometry",
                                            "stylers": [{
                                                "visibility": "off"
                                            }]
                                        },
                                        {
                                            "featureType": "poi",
                                            "elementType": "labels",
                                            "stylers": [{
                                                "visibility": "off"
                                            }]
                                        },
                                        {
                                            "featureType": "poi.business",
                                            "elementType": "all",
                                            "stylers": [{
                                                "visibility": "off"
                                            }]
                                        },
                                        {
                                            "featureType": "poi.medical",
                                            "elementType": "geometry",
                                            "stylers": [{
                                                "color": "#fbd3da"
                                            }]
                                        },
                                        {
                                            "featureType": "poi.park",
                                            "elementType": "geometry",
                                            "stylers": [{
                                                "color": "#bde6ab"
                                            }]
                                        },
                                        {
                                            "featureType": "road",
                                            "elementType": "geometry.stroke",
                                            "stylers": [{
                                                "visibility": "off"
                                            }]
                                        },
                                        {
                                            "featureType": "road",
                                            "elementType": "labels",
                                            "stylers": [{
                                                "visibility": "off"
                                            }]
                                        },
                                        {
                                            "featureType": "road.highway",
                                            "elementType": "geometry.fill",
                                            "stylers": [{
                                                "color": "#ffe15f"
                                            }]
                                        },
                                        {
                                            "featureType": "road.highway",
                                            "elementType": "geometry.stroke",
                                            "stylers": [{
                                                "color": "#efd151"
                                            }]
                                        },
                                        {
                                            "featureType": "road.arterial",
                                            "elementType": "geometry.fill",
                                            "stylers": [{
                                                "color": "#ffffff"
                                            }]
                                        },
                                        {
                                            "featureType": "road.local",
                                            "elementType": "geometry.fill",
                                            "stylers": [{
                                                "color": "black"
                                            }]
                                        },
                                        {
                                            "featureType": "transit.station.airport",
                                            "elementType": "geometry.fill",
                                            "stylers": [{
                                                "color": "#cfb2db"
                                            }]
                                        },
                                        {
                                            "featureType": "water",
                                            "elementType": "geometry",
                                            "stylers": [{
                                                "color": "#a2daf2"
                                            }]
                                        }
                                    ]


                                }
                            }
                        });
                    }
                }
            )(jQuery);
        });
    </script>


    <!-- Revolution Slider JS -->
    <script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/revolution/revolution-active.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

    <!--=====  End of JS files ======-->

</body>


<!-- Mirrored from htmldemo.net/megan/megan/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 02:55:12 GMT -->
</html>