<!DOCTYPE html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/megan/megan/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 02:54:07 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hyderabad Bottling Equipment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">

    <!-- Ionicons CSS -->
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css">

    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/flaticon.min.css">
    <!-- Flaticon2 CSS -->
    <link rel="stylesheet" href="assets/css/vendor/flat2.min.css">

    <!-- Flaticon3 thin CSS -->
    <link rel="stylesheet" href="assets/css/vendor/uicons-thin-rounded.css">

    <!-- Icomoon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/icomoon.min.css">

    <!-- Tractor icon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/tractor-icon.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">

    <!-- Light gallery CSS -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">



    <!-- Revolution Slider CSS -->
    <link href="assets/revolution/css/settings.css" rel="stylesheet">
    <link href="assets/revolution/css/navigation.css" rel="stylesheet">
    <link href="assets/revolution/custom-setting.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
</head>

<body>
    <!--====================  preloader ====================-->

    <!--====================  End of preloader  ====================-->
    <!--====================  header area ====================-->
    <%- include("partials/_header.ejs")%>
        <!--====================  End of header area  ====================-->
        <!--====================  hero slider area ====================-->
        <div class="hero-slider-area">
            <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home"
                data-source="gallery"
                style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.4.7 fullwidth mode -->
                <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-4" data-transition="incube-horizontal" data-slotamount="default"
                            data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                            data-easeout="default" data-masterspeed="300"
                            data-thumb="assets/img/slider/one/100x50_home_00_01.jpg" data-rotate="0"
                            data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="assets/img/slider/one/home1-dark.jpg" alt="" data-bgposition="center center"
                                data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption     rev_group" id="slide-4-layer-5"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="['988','772','595','99%']" data-height="['454','453','404','347']"
                                data-whitespace="nowrap" data-type="group" data-responsive_offset="on"
                                data-responsive="off"
                                data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5; min-width: 988px; max-width: 988px; max-width: 454px; max-width: 454px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption  " id="slide-4-layer-2"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['top','top','top','top']" data-voffset="['70','90','74','72']"
                                    data-fontsize="['90','70','60','40']" data-lineheight="['105','85','75','54']"
                                    data-fontweight="['900','900','700','900']" data-width="['800','600','500','350']"
                                    data-height="none" data-whitespace="normal" data-type="text"
                                    data-responsive_offset="off" data-responsive="off"
                                    data-frames='[{"delay":"+930","speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                    data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                    data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 6; min-width: 800px; max-width: 800px; white-space: normal; font-size: 90px; line-height: 105px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">
                                    Making the
                                    complex simple. </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption  " id="slide-4-layer-1"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                    data-responsive_offset="off" data-responsive="off"
                                    data-frames='[{"delay":"+620","speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                    data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                    data-textAlign="['inherit','inherit','inherit','inherit']"
                                    data-paddingtop="[10,10,10,10]" data-paddingright="[10,10,10,10]"
                                    data-paddingbottom="[10,10,10,10]" data-paddingleft="[10,10,10,10]"
                                    style="z-index: 7; white-space: nowrap; font-size: 12px; line-height: 12px; font-weight: 700; color: #ffffff; letter-spacing: 2px;font-family:Roboto;text-transform:uppercase;border-color:rgba(255,255,255,0.2);border-style:solid;border-width:1px 1px 1px 1px;">
                                    Building up vision leading future </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption  " id="slide-4-layer-3"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['bottom','bottom','bottom','bottom']"
                                    data-voffset="['107','107','108','83']" data-fontsize="['18','18','18','16']"
                                    data-lineheight="['18','18','18','28']" data-width="['none','none','none','350']"
                                    data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                    data-type="text" data-responsive_offset="off" data-responsive="off"
                                    data-frames='[{"delay":"+1340","speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                    data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                    data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                    data-textAlign="['inherit','inherit','inherit','center']"
                                    data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,30]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,30]"
                                    style="z-index: 8; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">
                                    Wide range of Bottling Equipments </div>

                                <!-- LAYER NR. 5 -->
                                <a class="tp-caption rev-btn-01 rev-btn " href="industries-grid.html" target="_self"
                                    id="slide-4-layer-4" data-x="['center','center','center','center']"
                                    data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']"
                                    data-voffset="['0','0','0','0']" data-width="none" data-height="none"
                                    data-whitespace="nowrap" data-type="button" data-actions=''
                                    data-responsive_offset="off" data-responsive="off"
                                    data-frames='[{"delay":"+1620","speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(34,34,34);bs:solid;bw:0 0 0 0;"}]'
                                    data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]"
                                    data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]"
                                    data-textAlign="['inherit','inherit','inherit','inherit']"
                                    data-paddingtop="[20,20,20,20]" data-paddingright="[30,30,30,30]"
                                    data-paddingbottom="[20,20,20,20]" data-paddingleft="[30,30,30,30]"
                                    style="z-index: 9; white-space: nowrap; letter-spacing: 1px;text-transform:uppercase;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Our
                                    industries </a>
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-5" data-transition="incube-horizontal" data-slotamount="default"
                            data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                            data-easeout="default" data-masterspeed="300"
                            data-thumb="assets/img/slider/one/100x50_home_00_15.jpg" data-rotate="0"
                            data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="assets/img/slider/one/home2.jpg" alt="" data-bgposition="center center"
                                data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption  " id="slide-5-layer-2"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['-100','-100','-90','-100']" data-lineheight="['105','105','60','54']"
                                data-fontweight="['900','900','900','700']" data-width="['none','none','90%','400']"
                                data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']"
                                data-type="text" data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"delay":640,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,21]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,21]" data-marginbottom="[0,0,0,15]"
                                data-fontsize="[90, 80, 70, 60]"
                                style="z-index: 5; white-space: nowrap; font-size: 90px; line-height: 105px; font-weight: 900; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">
                                We fulfill your purpose </div>

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption  " id="slide-5-layer-3"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-lineheight="['18','18','18','28']" data-width="['none','none','none','90%']"
                                data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                data-type="text" data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"delay":1040,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">
                                Innovative – Open and creative to engineering solutions. </div>

                            <!-- LAYER NR. 8 -->
                            <a class="tp-caption rev-btn-01 rev-btn " href="industries-grid.html" target="_self"
                                id="slide-5-layer-4" data-x="['center','center','center','center']"
                                data-hoffset="['-100','-100','-100','-94']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['110','110','120','130']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                data-actions='' data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"delay":1460,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(34,34,34);bs:solid;bw:0 0 0 0;"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[20,20,20,20]" data-paddingright="[30,30,30,30]"
                                data-paddingbottom="[20,20,20,20]" data-paddingleft="[30,30,30,30]"
                                style="z-index: 7; white-space: nowrap; letter-spacing: 1px;text-transform:uppercase;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Our
                                industries </a>

                            <!-- LAYER NR. 9 -->
                            <a class="tp-caption rev-btn-02 rev-btn " href="#" target="_self" id="slide-5-layer-6"
                                data-x="['center','center','center','center']" data-hoffset="['100','100','100','94']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['110','110','120','130']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                                data-actions='' data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"delay":1900,"speed":300,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,194,70);bc:rgb(255,194,70);"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[19,19,19,19]" data-paddingright="[29,29,29,29]"
                                data-paddingbottom="[19,19,19,19]" data-paddingleft="[29,29,29,29]"
                                style="z-index: 8; white-space: nowrap; letter-spacing: 1px;text-transform:uppercase;border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Purchase
                                Now </a>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-6" data-transition="incube-horizontal" data-slotamount="default"
                            data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                            data-easeout="default" data-masterspeed="300"
                            data-thumb="assets/img/slider/one/100x50_home_00_16.jpg" data-rotate="0"
                            data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="assets/img/slider/one/home3.jpg" alt="" data-bgposition="center center"
                                data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption  " id="slide-6-layer-3"
                                data-x="['center','center','center','center']" data-hoffset="['1','1','1','0']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['-150','-150','-170','-140']" data-fontsize="['24','24','18','16']"
                                data-lineheight="['26','26','26','18']" data-fontweight="['700','700','700','400']"
                                data-width="['none','none','100%','300']" data-height="none"
                                data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text"
                                data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"delay":490,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 26px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">
                                Quality Policy</div>

                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption  " id="slide-6-layer-2"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','-8','-16','2']"
                                data-fontsize="['70','50','40','30']" data-lineheight="['80','65','65','54']"
                                data-width="['1000','600','500','300']" data-height="none" data-whitespace="normal"
                                data-type="text" data-responsive_offset="off" data-responsive="off"
                                data-frames='[{"delay":910,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,30,30]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,30,30]" data-marginleft="[0, 0, 'auto', 'auto' ]"
                                data-marginright="[0, 0, 'auto', 'auto' ]"
                                style="z-index: 6; min-width: 1000px; max-width: 1000px; white-space: normal; font-size: 70px; line-height: 80px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">
                                Uncompromising Quality and Superior service</div>

                            <!-- LAYER NR. 12 -->
                            <a class="tp-caption rev-btn-01 rev-btn " href="industries-grid.html" target="_self"
                                id="slide-6-layer-4" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                                data-voffset="['135','135','150','135']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="button" data-actions='' data-responsive_offset="off"
                                data-responsive="off"
                                data-frames='[{"delay":1350,"speed":300,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(34,34,34);bs:solid;bw:0 0 0 0;"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[20,20,20,20]" data-paddingright="[30,30,30,30]"
                                data-paddingbottom="[20,20,20,20]" data-paddingleft="[30,30,30,30]"
                                style="z-index: 7; white-space: nowrap; letter-spacing: 1px;text-transform:uppercase;border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Our
                                industries </a>
                        </li>
                    </ul>
                    <div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
        </div>
        <!--====================  End of hero slider area  ====================-->
        <!--====================  featured project area ====================-->
        <div class="featured-project-area bg-img section-space--inner--top--120 section-space--inner--bottom--300"
            style="padding-bottom: 75px !important;" data-bg="assets/img/patterns/1.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="featured-project-wrapper">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- section title left align -->
                                    <div class="section-title-area">
                                        <h4 class="subtitle">Bottling Equipments Manufacturing Comapny</h4>
                                        <h2 class="title title--left">Hyderabad Bottling Equipments </h2>
                                        <p class="section-title-content" style="color:black;font-weight: 500; ">Whether
                                            you are a microbrewery, a medium brewery or a large one, we can assist you
                                            throughout the whole beer bottling process. </p>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!-- section title content -->
                                    <div class="section-title-content-area">
                                        <p class="section-title-content">Hyderabad Bottling Equipments is one of the
                                            biggest suppliers of high speed bottling equipments in India.From the
                                            cleaning to the capping, We realizes safe and reliable bottling equipment,
                                            able to adapt to the size of your company guaranteeing the automatic filling
                                            of bottles of any type.
                                            Bottling equipment includes a series of machines or plants realized to
                                            process the filling of bottles in beverage industries. It does not matter
                                            what size your business is , the bottling process always requires some
                                            necessary steps, each of them with a specific machine to perform it.</p>

                                        <p class="section-title-content"> So, what bottle equipment do you need? It
                                            depends on many factors, including the space available, the capacity and
                                            number of bottles you want to fill, as well as the type of drink you need to
                                            bottle.</p>
                                        <p class="section-title-content">Our bottling equipment is easy to use and
                                            guarantees maximum reliability without the need for frequent maintenance.
                                        </p>
                                        <div class="video-button-container video-popup">
                                            <a href="https://youtu.be/ekPrFT5nPvg" class="section-title-video-button">
                                                <div class="video-play bg-img"
                                                    data-bg="assets/img/icons/video-play.png">
                                                    <i class="ion-ios-play"></i>
                                                </div>
                                                <div class="video-text"> LEARN ABOUT US <i
                                                        class="ion-arrow-right-c"></i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of featured project area  ====================-->

        <!--====================  feature project box slider area ====================-->

        <!--====================  End of feature project box slider area  ====================-->
        <!--====================  blog newsletter area ====================-->
        <div class="blog-newsletter-area section-space--inner--120"
            style="padding-top: 10px !important; padding-bottom: 20px !important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <!-- section title -->
                        <div class="section-title-area section-title-area--middle section-space--bottom--80"
                            style="padding-bottom: 2px !important;">
                            <h4 class="subtitle">Hyderabad Bottling Equipment</h4>
                            <h2 class="title section-space--bottom--30 section-title-content text-center">Product
                                Applications </h2>
                            <p class="section-title-content text-center">Industrial areas where our Products are
                                implemented at are </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--====================  End of blog newsletter area  ====================-->

        <!--====================  industry slider area ====================-->
        <div class="industry-slider-area">
            <!-- industry slider nav -->
            <div class="industry-slider-nav-area">
                <div class="swiper-container industry-slider-nav-container">
                    <div class="swiper-wrapper industry-slider-nav-wrapper">
                        <div class="swiper-slide">
                            <div class="industry-single-nav">
                                <div class="industry-single-nav__icon">
                                    <i class="flaticon-001-worker-1"></i>
                                </div>
                                <div class="industry-single-nav__title">
                                    Chemical Plants
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-single-nav">
                                <div class="industry-single-nav__icon">
                                    <i class="flaticon-010-tank-1"></i>
                                </div>
                                <div class="industry-single-nav__title">
                                    Oil Products Companies
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-single-nav">
                                <div class="industry-single-nav__icon">
                                    <i class="fi fi-rs-beer"></i>
                                </div>
                                <div class="industry-single-nav__title">
                                    Beer Plants
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-single-nav">
                                <div class="industry-single-nav__icon">
                                    <i class="fi fi-tr-hamburger-soda"></i>
                                </div>
                                <div class="industry-single-nav__title">
                                    Food Production Companies
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-single-nav">
                                <div class="industry-single-nav__icon">
                                    <i class="fi fi-tr-drink"></i>
                                </div>
                                <div class="industry-single-nav__title">
                                    Liqour Plants
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-single-nav">
                                <div class="industry-single-nav__icon">
                                    <i class="fi fi-rs-doctor"></i>
                                </div>
                                <div class="industry-single-nav__title">
                                    pharmaceutical Plants
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ht-swiper-button-prev ht-swiper-button-prev-2 ht-swiper-button-nav d-none d-lg-block"><i
                        class="ion-ios-arrow-left"></i></div>
                <div class="ht-swiper-button-next ht-swiper-button-next-2 ht-swiper-button-nav d-none d-lg-block"><i
                        class="ion-ios-arrow-forward"></i></div>
            </div>
            <!-- industry slider content -->
            <div class="industry-slider-content-area">
                <div class="swiper-container industry-slider-content-container">
                    <div class="swiper-wrapper industry-slider-content-wrapper">
                        <div class="swiper-slide">
                            <div class="industry-slider-content-single bg-img"
                                data-bg="assets/img/backgrounds/chem.jpg">
                                <div class="container">
                                    <div class="industry-content-inner">
                                        <div class="section-title-area">
                                            <h2 class="title title--left"> Chemical Plant</h2>
                                        </div>
                                        <p class="section-title-content"> Chemicals can be aggressive solutions that are
                                            hard on a filling machine. In our company, we know the ins and outs of the
                                            liquid packaging industry, and that is why we are proud to offer our clients
                                            specific and unique chemical bottling solutions. From start to finish, you
                                            will find everything you need for a chemical container packaging line here.
                                        </p>
                                        <a href="service-details.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-slider-content-single bg-img"
                                data-bg="assets/img/backgrounds/oill.jpg">
                                <div class="container">
                                    <div class="industry-content-inner">
                                        <div class="section-title-area">
                                            <h2 class="title title--left"> Oil Product Manufactures</h2>
                                        </div>
                                        <p class="section-title-content"> Bottle filling machines regardless of whether
                                            bottle or tube filling-machine, liquid, or powder filling-machine, if chosen
                                            as stated by the precise requirements, can offer the manufacturer
                                            well-organized packaging answers and at the same time help to save
                                            production costs and time.The machinery speeds up product-filling tasks,
                                            thereby saving the manufacturer a great deal of time that can be used
                                            efficiently to develop the business in other critical manufacturing and
                                            marketing processes.</p>
                                        <a href="service-details-2.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-slider-content-single bg-img"
                                data-bg="assets/img/backgrounds/beear.jpg">
                                <div class="container">
                                    <div class="industry-content-inner">
                                        <div class="section-title-area">
                                            <h2 class="title title--left"> Beer Plants</h2>
                                        </div>
                                        <p class="section-title-content">Bottling lines in beer plants typically
                                            involves drawing the product from a holding tank and filling it into bottles
                                            in a filling machine (filler), which are then capped, labeled and packed
                                            into cases or cartons.
                                            Bottling lines are production lines that fill a product, generally a
                                            beverage, into bottles on a large scale.</p>
                                        <a href="service-details-3.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-slider-content-single bg-img"
                                data-bg="assets/img/backgrounds/foodb.jpg">
                                <div class="container">
                                    <div class="industry-content-inner">
                                        <div class="section-title-area">
                                            <h2 class="title title--left"> Food Product Manufacturing</h2>
                                        </div>
                                        <p class="section-title-content"> Our equipment in food processing refers to
                                            processing machines, components, systems used to cook, handle, package,
                                            prepare or store food and food products. Although this equipment is
                                            primarily aimed towards consumability, preservation, palatability, few
                                            pieces of equipment also perform auxiliary or main functions such as
                                            preparation, handling and packaging.</p>
                                        <a href="service-details-4.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-slider-content-single bg-img"
                                data-bg="assets/img/backgrounds/liqour.jpg">
                                <div class="container">
                                    <div class="industry-content-inner">
                                        <div class="section-title-area">
                                            <h2 class="title title--left"> Liqour Plants</h2>
                                        </div>
                                        <p class="section-title-content"> Our Machinery Specializes in a wide variety of
                                            quality filling systems for bottle filling in the distilled products, craft
                                            distilling and micro distilling industries. Our Machinery understands the
                                            specialized needs of artisanal distillers and can scale to grow with your
                                            changing production needs. We understand the importance of focusing on the
                                            art and craft of distilling, you are the experts, so let our experienced
                                            sales and engineering teams work with you to develop a bottling machine that
                                            will fit your needs.</p>
                                        <a href="service-details-5.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="industry-slider-content-single bg-img"
                                data-bg="assets/img/backgrounds/pharm.jpg">
                                <div class="container">
                                    <div class="industry-content-inner">
                                        <div class="section-title-area">
                                            <h2 class="title title--left"> Pharmaceutical Plants</h2>
                                        </div>
                                        <p class="section-title-content">Our liquid bottle filling machine is generally
                                            used in pharmaceutical and food industry. Bottles and containers are passed
                                            on the conveyor belt and filled with the liquid through nozzles. These
                                            machines come in different variants with a different mechanism. We provide
                                            all the manual, semi, or fully automatic types.</p>
                                        <a href="service-details-6.html" class="ht-btn ht-btn--dark">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of industry slider area  ====================-->
        <!--====================  featured project two slider area ====================-->
        <div class="featured-project-two-slider-area section-space--inner--120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section title -->
                        <div class="section-title-area section-title-area--middle section-space--bottom--80">
                            <h4 class="subtitle">FEATURED PROJECTS</h4>
                            <h2 class="title">Explore What We have </h2>
                        </div>

                        <!-- featured project two slider -->
                        <div class="featured-project-two-slider">
                            <div class="swiper-container featured-project-two-slider-container">
                                <div class="swiper-wrapper featured-project-two-slider-wrapper">

                                    <div class="swiper-slide">
                                        <div class="feature-project-two-single-item">
                                            <div class="feature-project-two-single-item__image">
                                                <img height="300px" width="300px" src="assets/img/projects/wash.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="feature-project-two-single-item__content">
                                                <a href="case-study-single-slider.html" class="stretched-link"
                                                    style="display: block; text-align: center;">Washing Equipments</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="feature-project-two-single-item">
                                            <div class="feature-project-two-single-item__image">
                                                <img height="300px" width="300px" src="assets/img/projects/filling.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="feature-project-two-single-item__content">
                                                <a href="case-study-single-gallery.html" class="stretched-link"
                                                    style="display: block; text-align: center;">Filling Equipments</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="feature-project-two-single-item">
                                            <div class="feature-project-two-single-item__image">
                                                <img height="300px" width="300px" src="assets/img/projects/sealing.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="feature-project-two-single-item__content">
                                                <a href="case-study-single-slider.html" class="stretched-link"
                                                    style="display: block; text-align: center;">Sealing Equipments</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="feature-project-two-single-item">
                                            <div class="feature-project-two-single-item__image">
                                                <img height="300px" width="300px" src="assets/img/projects/label.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="feature-project-two-single-item__content">
                                                <a href="case-study-single-gallery.html" class="stretched-link"
                                                    style="display: block; text-align: center;">Labeling Equipments</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="feature-project-two-single-item">
                                            <div class="feature-project-two-single-item__image">
                                                <img height="300px" width="300px" src="assets/img/projects/conveyor.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="feature-project-two-single-item__content">
                                                <a href="case-study-single-slider.html" class="stretched-link"
                                                    style="display: block; text-align: center;">Conveyors Belts</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-2"></div>
                            <div
                                class="ht-swiper-button-prev ht-swiper-button-prev-1 ht-swiper-button-nav d-none d-lg-block">
                                <i class="ion-ios-arrow-left"></i></div>
                            <div
                                class="ht-swiper-button-next ht-swiper-button-next-1 ht-swiper-button-nav d-none d-lg-block">
                                <i class="ion-ios-arrow-forward"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of featured project two slider area  ====================-->
        <!--====================  testimonial brand slider area ====================-->
        <div class="testimonial-brand-slider-area section-space--inner--120 grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- testimonial slider -->
                        <div class="testimonial-slider__body-wrapper section-space--bottom--60">
                            <!-- testimonial slider title -->
                            <div class="testimonial-slider__title-wrapper section-space--bottom--60">
                                <h2 class="testimonial-slider__title"><i class="icon icomoon-chat-1"></i> Our Happy
                                    Clients</h2>
                                <div class="testimonial-slider__nav-container">
                                    <div class="ht-swiper-button-prev ht-swiper-button-prev-3 ht-swiper-button-nav"><i
                                            class="ion-chevron-left"></i></div>
                                    <div class="ht-swiper-button-next ht-swiper-button-next-3 ht-swiper-button-nav"><i
                                            class="ion-chevron-right"></i></div>
                                </div>
                            </div>

                            <div class="testimonial-slider__content-area">
                                <div class="swiper-container testimonial-slider__container">
                                    <div class="swiper-wrapper testimonial-slider__wrapper">
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__single-item">
                                                <div class="testimonial-slider__single-item__image">
                                                    <img src="assets/img/testimonial/1.jpg" class="img-fluid" alt="">
                                                </div>
                                                <div class="testimonial-slider__single-item__content">
                                                    <h4 class="testimonial-name"> John Distilleries <span
                                                            class="designation">Beverage company
                                                        </span></h4>
                                                    <div class="rating">
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                    </div>
                                                    <p class="text">The equipment we received was top-notch and exceeded
                                                        my expectations. The machines were easy to operate and highly
                                                        efficient, which saved me time and money. The after-sales
                                                        service was also outstanding. Whenever we had a question or
                                                        concern, the support team was always available to assist me.

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__single-item">
                                                <div class="testimonial-slider__single-item__image">
                                                    <img src="assets/img/testimonial/4.jpg" class="img-fluid" alt="">
                                                </div>
                                                <div class="testimonial-slider__single-item__content">
                                                    <h4 class="testimonial-name">NV Groups <span
                                                            class="designation">Distillery company</span></h4>
                                                    <div class="rating">
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                    </div>
                                                    <p class="text">your delivery was prompt and on-time. We appreciate
                                                        your attention to detail and dedication to meeting my needs.We
                                                        highly recommend Bottle Equipment Company to anyone in the
                                                        market for bottling equipment. Their products and customer
                                                        service are second to none. I look forward to working with them
                                                        again in the future.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testimonial-slider__single-item">
                                                <div class="testimonial-slider__single-item__image">
                                                    <img src="assets/img/testimonial/3.jpg" class="img-fluid" alt="">
                                                </div>
                                                <div class="testimonial-slider__single-item__content">
                                                    <h4 class="testimonial-name">Bacardi Limited<span
                                                            class="designation">Drink company</span></h4>
                                                    <div class="rating">
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star"></i>
                                                        <i class="ion-ios-star-outline"></i>
                                                    </div>
                                                    <p class="text">We recently had the pleasure of working with the
                                                        Bottle Equipment Company as a supplier for my distillery. We was
                                                        thoroughly impressed with their professionalism and commitment
                                                        to providing high-quality products and services. The team was
                                                        knowledgeable and helpful, answering all of my questions and
                                                        concerns promptly and efficiently.</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination-3"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- brand logo slider -->
                        <div class="brand-logo-slider__container-area">
                            <div class="swiper-container brand-logo-slider__container">
                                <div class="swiper-wrapper brand-logo-slider__wrapper">
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/john.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/john.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/black.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/black.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/seagram.png" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/seagram.png" class="img-fluid"
                                                alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/ub.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/ub.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/mdbl.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/mdbl.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/crown.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/crown.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/vivimed.png" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/vivimed.png" class="img-fluid"
                                                alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/radico.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/radico.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/previlege.png" class="img-fluid"
                                                alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/previlege.png" class="img-fluid"
                                                alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/MGM.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/MGM.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide brand-logo-slider__single">
                                        <div class="image">
                                            <img src="assets/img/brand-logo/bg rem/nv.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="image-hover">
                                            <img src="assets/img/brand-logo/bg rem/nv.png" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of testimonial brand slider area  ====================-->
        <!--====================  project counter area ====================-->
        <div class="project-counter-area" style="padding-bottom: 10px;">
            <div class="row g-0">
                <div class="col-lg-12">
                    <div class="project-counter-wrapper">
                        <!-- project counter-bg -->
                        <div class="project-counter-bg bg-img" data-bg="assets/img/backgrounds/bg.jpg"></div>
                        <!-- project counter content -->
                        <div class="project-counter-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="project-counter-single-content-wrapper">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- project counter single content -->
                                                <div class="project-counter-single-content">
                                                    <div class="project-counter-single-content__image">
                                                        <img src="assets/img/icons/comp.png" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="project-counter-single-content__content">
                                                        <span
                                                            class="project-counter-single-content__project-count counter">40</span>
                                                        <h5 class="project-counter-single-content__project-title">
                                                            Bottling Equipments </h5>
                                                        <p class="project-counter-single-content__subtext"> Wide variety
                                                            of fully automatic bottling lines consisting of Tunnel,
                                                            Rinser, Filler,cum Sealer, Labeler and Conveyor System with
                                                            a capacity of upto 240 BPM</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- project counter single content -->
                                                <div class="project-counter-single-content">
                                                    <div class="project-counter-single-content__image"
                                                        style="width: 63px;">
                                                        <img src="assets/img/icons/client.png" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="project-counter-single-content__content">
                                                        <span
                                                            class="project-counter-single-content__project-count counter">30</span>
                                                        <h5 class="project-counter-single-content__project-title">
                                                            Industrial Clients</h5>
                                                        <p class="project-counter-single-content__subtext">We have 30 +
                                                            clients from all over india with worldwide marketed product
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of project counter area  ====================-->

        <!--====================  support footer area ====================-->
        <%- include("partials/_footer.ejs")%>
            <!--====================  End of footer area  ====================-->
            <!--====================  mobile menu overlay ====================-->

            <!--====================  End of mobile menu overlay  ====================-->
            <!--====================  scroll top ====================-->
            <a href="#" class="scroll-top" id="scroll-top">
                <i class="ion-android-arrow-up"></i>
            </a>
            <!--====================  End of scroll top  ====================-->
            <!-- JS
    ============================================ -->

            <!-- Modernizer JS -->
            <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

            <!-- jQuery JS -->
            <script src="assets/js/vendor/jquery.min.js"></script>

            <!-- Bootstrap JS -->
            <script src="assets/js/vendor/bootstrap.min.js"></script>

            <!-- Popper JS -->
            <script src="assets/js/vendor/popper.min.js"></script>

            <!-- Swiper Slider JS -->
            <script src="assets/js/plugins/swiper.min.js"></script>

            <!-- Tippy JS -->
            <script src="assets/js/plugins/tippy.min.js"></script>

            <!-- Light gallery JS -->
            <script src="assets/js/plugins/lightgallery.min.js"></script>

            <!-- Light gallery video JS -->
            <script src="assets/js/plugins/lg-video.min.js"></script>

            <!-- Waypoints JS -->
            <script src="assets/js/plugins/waypoints.min.js"></script>

            <!-- Counter up JS -->
            <script src="assets/js/plugins/counterup.min.js"></script>

            <!-- Appear JS -->
            <script src="assets/js/plugins/appear.min.js"></script>

            <!-- Gmap3 JS -->
            <script src="assets/js/plugins/gmap3.min.js"></script>

            <!-- Isotope JS -->
            <script src="assets/js/plugins/isotope.min.js"></script>

            <!-- Mailchimp JS -->
            <script src="assets/js/plugins/mailchimp-ajax-submit.min.js"></script>


            <!-- Main JS -->
            <script src="assets/js/main.js"></script>


            <!-- Google Map -->
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD79MY72taVRlZVX2DU6L5PXOh3ezUUKMc&amp;callback=initMap"></script>

            <!-- Map JS -->



            <!-- Revolution Slider JS -->
            <script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
            <script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
            <script src="assets/revolution/revolution-active.js"></script>

            <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
            <script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
            <script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
            <script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
            <script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
            <script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
            <script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

            <!--=====  End of JS files ======-->

</body>


<!-- Mirrored from htmldemo.net/megan/megan/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 02:55:12 GMT -->

</html>